// Header
// --------------------
.c-header{
	text-align: left;
	.l-main{
		padding: 10px 0 35px 0;
	}

	&__title{
	}

	&__logo-nav{
		display: flex;
		padding-top: 35px;
	}
	.c-header__logo{
		width: 370px;
	}

	.c-header__nav{
		width: 790px;
		position: relative;
		span{
			background: #88888888;
			height: 4px;
			display: block;
			position: absolute;
			width: 50px;
			bottom: 2px;
			left: 0
		}
		ul{
			display: flex;
			justify-content: space-between;
			margin-top: 10px;
		}
		a{
			height: 10px;
			display: flex;
			align-items: center;
			padding-bottom: 5px;
		}

		.c-hover{display: none;}

		li:hover{
			.c-hover{display: block;}
			.c-normal{display: none;}
		}

		.is-current{
			a{
				border-bottom: 4px solid #88888888;
			}
			.c-hover{display: block;}
			.c-normal{display: none;}
		}
	}
}

// Footer
// --------------------
.c-footer{
	border-top: 1px solid #555555;
	.l-main{
		padding: 25px 0;
	}
	.c-footer__text{
		display: flex;
		justify-content: space-between;
	}
	.c-footer__button{
		padding-top: 20px;
		display: flex;
		a{
			text-decoration: none;
			width: 160px;
			height: 40px;
			margin-right: 20px;
			background-color: #888888;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			font-weight: bold;
			color: #fff;
			font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
		}
	}
}

// Component title page index
// ----------------------------------
.c-title1{
		font-size: 2.4rem;
		font-weight: bold;
	}
.c-title2{
	font-family: Times New Roman, sans-serif;
	font-size: 2rem;
	color: #999999;
}

// Component title page outline
// ----------------------------------
.c-title3{
	font-size: 3.2rem;
	font-family: "Hiragino Mincho ProN", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",  "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-title4{
	font-size: 1.6rem;
	color: #999999;
}

// Component title and text
.c-title__text{
	.l-main{
		padding: 58px 0 100px 0;
	}

	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		padding: 10px 0 50px 0;
	}

	.c-text{
		font-size: 1.5rem;
		text-align: left;
		line-height: 1.5;
		p{
			padding-bottom: 25px;
		}
	}
	a{
		padding-top: 10px;
	}
	.c-link{
		font-size: 1.5rem;
		font-weight: bold;
		padding-top: 10px;
	}
	.c-link:after{
		content: url(../img/outline/icon-text.png);
    position: relative;
    top: 2px;
	}

	.c-links-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
		a{
			display: flex;
			align-items: center;
			width: 370px;
			height: 30px;
			background-color: #dddddd;
			font-weight: bold;
			font-size: 1.5rem;
			padding: 0 0 0 10px;
			box-sizing: border-box;
			margin-bottom: 20px;
		}
		a:last-child{
			opacity: 0;
		}
	}
}

// Component title and text
.c-access{
	display: flex;

	.c-access__map{
		width: 580px;
		height: 415px;
		iframe{
			width: 580px;
			height: 415px;
		}
	}

	.c-access__info{
		font-size: 1.5rem;
		padding-left: 20px;
		text-align: left;
		.c-access__title{
			font-weight: bold;
		}

		.c-access__text{
			padding: 20px 0 30px 0;
			line-height: 1.6;
		}
	}
}



// Dots list
.c-dots-list{
	display: flex;
	padding-top: 10px;
	justify-content: center;
	.c-dot{
		cursor: pointer;
		height: 10px;
		width: 10px;
		margin: 0 10px;
		border-radius: 50%;
		background-color: #22963c;
	}
}

// component shikaoi frame
.c-shikaoi__frame{
	position: absolute;
	top: 32px;
	left: 32px;
	width: 147px;
	height: 27px;
	background-color: #1d2088;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	z-index: 100;
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	p{
		color: #ffffff;
    font-size: 1.6rem;
    padding: 3px 20px 2px 20px;
    border: 1px solid #e4e5f1;
	}
}

// SLider and Text
.c-slider__content{
	display: flex;
	justify-content: space-between;
	@extend %cf;
	position: relative;
}

.c-slider__text{
	width: 560px;
	height: 370px;
	text-align: left;
	font-size: 1.5rem;
	line-height: 1.7;
	p{
		padding-bottom: 12px;
	}
}

// component table page member
// -----------------------
.c-table{
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	.c-table__content{
		display: flex;
		width: 560px;
		box-sizing: border-box;
	}
	.c-table__title{
		width: 228px;
		height: 27px;
		background-color: #e6e6e6;
		font-size: 1.2rem;
		font-weight: bold;
		display: flex;
		align-items: center;
		padding-left: 7px;
		box-sizing: border-box;
		border: 1px solid #d6d6d6;
		border-bottom: none;
		&--style1{
			height: 181px;
			border-bottom: 1px solid #d6d6d6;
		}
	}
	.c-table__text{
		width: 332px;
		height: 27px;
		display: flex;
		align-items: center;
		font-size: 1.259rem;
		padding-left: 7px;
		box-sizing: border-box;
		border-top: 1px solid #d6d6d6;
		border-right: 1px solid #d6d6d6;
		&--style1{
			height: 181px;
			border-bottom: 1px solid #d6d6d6;
			align-items: start;
		}
	}
	.c-table__text1{
		width: 140px;
	}
	.c-table__text2{
		width: 50px;
		border-left: 1px solid #d6d6d6;
		border-right: 1px solid #d6d6d6;
		background-color: #e6e6e6;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.c-table__text3{
		width: 142px;
		padding-left: 7px;
		box-sizing: border-box;
	}
}


// Component Gallery header
// ------------------------
.c-gallery__header{
	.l-main{
		padding: 58px 0 50px 0;
	}
	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-weight: 2rem;
		padding: 10px 0 50px 0;
	}

	.p-gallery__menu{
		display: flex;
		height: 40px;
		align-items: center;
		border-top: 1px solid #9e9e9e;
		border-bottom: 1px solid #9e9e9e;
		.is-current{
			color: #888888;
		}
		a{
			font-size: 1.6rem;
			font-weight: bold;
			margin-right: 50px;
		}
	}
}

// Component Gallery Photo
// ------------------------
.c-gallery__photo{
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	.l-main{
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.c-gallery__img{
		width: 266px;
		margin-bottom: 50px;
		img{
			width: 100%;
		}

		&--book, &--woman, &--youth, &--senior{
			background-color: #98d0cd;
			position: relative;
			height: 155px;
			font-family: "Hiragino Mincho ProN", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",  "HG明朝E", "ＭＳ Ｐ明朝", serif;
			img{
				width: auto;
			}

			.c-days{
				float: left;
    		padding: 4px 55px 50px 20px;
			}

			p{
				font-size: 1.7rem;
				font-weight: bold;
				border-bottom: 1px solid #333834;
				width: max-content;
				padding: 62px 0 3px 0;
   			margin-left: 20px;
   			transition: opacity 1s ease-out;
			}
			a:hover{
				p{
					opacity: .5;
				}
			}

			.c-photo__avatar{
				position: absolute;
				top: 5px;
				right: 5px;
				width: 103px;
				height: 145px;
			}
		}
		&--woman{
			background-color: #ddbccf;
		}
		&--youth{
			background-color: #a6ceff;
		}
		&--senior{
			background-color: #c6a993;
		}
	}

	.c-gallery__caption{
		width: 266px;
		height: 50px;
		display: flex;
		align-items: center;
		font-size: 1.3rem;
		padding-left: 10px;
		box-sizing: border-box;
		background-color: #e6e6e6;
	}
}


// Component SiteMap
// ------------------------
.c-sitemap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	.c-sitemap__content{
		width: 550px;
		text-align: left;
	}

	.c-sitemap__title{
		font-size: 1.8rem;
		font-weight: bold;
		border-bottom: 1px solid #939393;
		padding-bottom: 10px;
		a:after{
			content: url('../img/index/sitemap-icon.png');
			position: relative;
			top: 2px;
			left: 10px;
		}
	}
	.c-sitemap__text{
		font-size: 1.6rem;
		padding-top: 30px;
		box-sizing: border-box;
		height: 235px;
		li{
			line-height: 2;
		}
		li ul{
			padding: 0 0 5px 30px;
		}
		&--style1{
			height: auto !important;
			padding-bottom: 50px;
		}
	}
}