@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function

@import "component"; // Component
@import "page-project"; // Component

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/

// Ganeral
// -----------------
.pc-only{
	display: block;
	@media #{$breakpoint} {
    display: none;
  }
}

.sp-only{
	display: none;
	@media #{$breakpoint} {
    display: block;
  }
}
a{
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}
a:hover img, a:hover{
	opacity: .5;
}

a img, a{
	transition: opacity 1s ease-out;
}

// slidershow
// ----------------------
.slick-track{
	margin-left: 0 !important;
}

.slick-dots li button:before{
	color: #22963c !important;
	opacity: .3;
	content: url("../img/index/icon-slideshow.png") !important;
}

.slick-arrow{
	display: none !important;
}


// layout
// -----------------
.l-container{
	width: 1460px;
	margin: 0 auto;
}

.l-main{
	width: 1160px;
	margin: 0 auto;
}


