@charset "UTF-8";
// レイアウト用css for Layout
// Can use id, If you use class Please adding prefix .l- 
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
	min-width: 1000px;
	/* ウインドウ幅で横スクロール時に背景が切れるバグ対策でコンテンツと同じ幅を指定 */
	// line-height: 1.5;
	text-align: center;
	font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	font-weight: 500;
	overflow-x: hidden;
	background: url('../img/img-pc/5.jpg') no-repeat center center fixed;
	background-size: cover;
	@media #{$breakpoint} {
    min-width: 320px;
  }
}

#container {
	// margin: 0 auto;
	// width: 800px;
	// background-color: #fff;
	// text-align: left;
}

.l-main {
	// margin-bottom: 10px;
	// font-size: 1.4rem;
	// @include cf;
	// @extend %cf;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
// #header {
// 	margin-bottom: 10px;
// 	padding: 5px 10px 10px;
// 	background-color: #efefef;
// 	position: relative;
// 	h1 {
// 		margin: 0 150px 5px 0;
// 		font-size: 1.1rem;
// 		font-weight: normal;
// 	}
// }

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
// #gNavi {
// 	margin-bottom: 10px;
// 	li {
// 		width: 160px;
// 		background-color: #efefef;
// 		float: left;
// 		a {
// 			padding: 10px 0;
// 			display: block;
// 			text-decoration: none;
// 			text-align: center;
// 		}
// 	}
// }

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
	margin-bottom: 10px;
	li {
		margin-right: 2px;
		display: inline;
		a {
			margin-right: 5px;
		}
	}
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
	width: 580px;
	float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/

#sideBar {
	padding: 50px 0;
	width: 200px;
	background-color: #efefef;
	float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/

#footer {
	padding: 10px 10px 5px;
	background-color: #efefef;
}