@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function

// Ganeral
// --------------------------------
a{
	text-decoration: none;
	color: #000000;
}

.pc-only{
	display: block;
	@media #{$breakpoint} {
    display: none;
  }
}

.sp-only{
	display: none;
	@media #{$breakpoint} {
    display: block;
  }
}

.is-current{
	position: relative;
	a{
		color: #001f59 !important;
	}
}

.is-current:after{
	content: url('../img/img-pc/menu-mini-icon.png');
	position: absolute;
	right: -25px;
}

.u-color1{
	color: #001f59;
}

.u-bg1{
	background-color: #cccccc !important;
}

.l-main{
	width: 1000px;
	margin: 0 auto;
	@media #{$breakpoint} {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
}

// buttun sp
// --------------------------------
.c-buttonSP{
	width: 100%;
	margin-top: 15px;
	a{
		display: flex;
		align-items: center;
		background-color: #fff;
		height: 50px;
	  font-size: 1.6rem;
	  border: 4px solid #0c2940;
		border-radius: 60px;
		padding: 0 25px;
		box-sizing: border-box;
		img{
			width: 135px;
			padding-right: 20px;
		}
		p{
			font-size: 1.2rem;
			font-weight: bold;
			color: #0c2940;
			padding-left: 20px;
			border-left: 1px solid #0c2940;
		}
		span{
			font-size: 0.9rem;
		}
	}
}

// component button
// --------------------------------
.c-button{
	width: max-content;
	margin: 0 auto;
	@media #{$breakpoint} {
    width: 100%;
  }
	a{
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 4px solid #0c2940;
		border-radius: 60px;
		height: 105px;
		width: 700px;
		font-size: 3.4rem;
		font-weight: bold;
		color: #0c2940;
		margin: 0 auto;
		position: relative;
		transition: 0.4s;
		@media #{$breakpoint} {
	    width: 100%;
	    height: 50px;
	    font-size: 1.6rem;
	    box-sizing: border-box;
	  }
	}

	a:before{
		content: url('../img/img-pc/body3-icon-glasses.png');
		position: absolute;
		left: 105px;
		top: 30px;
		@media #{$breakpoint} {
	    left: 25px;
	    top: 15px;
	    content: url('../img/img-pc/body3-icon-glassesSP.png');
	  }
	}

	a:after{
		content: url('../img/img-pc/header-icon.png');
		position: absolute;
		right: 85px;
		top: 30px;
		@media #{$breakpoint} {
	    right: 25px;
	    top: 15px;
	    content: url('../img/img-pc/header-iconSP.png');
	  }
	}
}
.c-button:hover{
	a:hover{
		background-color: #0c2940;
		color: #fff;
	}

	a:before{
		content: url('../img/img-pc/body3-icon-glasses-hover.png');
		@media #{$breakpoint} {
	  	content: url('../img/img-pc/body3-icon-glass-hoverSP.png');
	  }
	}

	a:after{
		content: url('../img/img-pc/header-icon-hover.png');
		@media #{$breakpoint} {
	  	content: url('../img/img-pc/header-icon-hoverSP.png');
	  }
	}
}

// Header
// ---------------------------------
.c-header{
	background: url('../img/img-pc/header-background.png') center no-repeat;
	background-size: cover;
	position: relative;
	border-top: 5px solid #ffba00;
	@extend %cf;
	@media #{$breakpoint} {
   border: none;
   padding-top: 50px;
  }
	.c-header__logo{
		img{
			margin: 0 auto;
			@media #{$breakpoint} {
		    width: 70%;
		  }
		}
	}
	&__title{
		position: absolute;
		top: 40px;
		left: 40px;
	}

	.l-main{
		padding: 100px 0;
		@media #{$breakpoint} {
	    padding: 35px 15px 40px 15px;
	  }
	}

	&__button{
		position: relative;
		float: right;
		right: -8px;
		bottom: 40px;
		background-color: #fff;
		border: 6px solid #ffba00;
		border-top-left-radius: 60px;
		border-bottom-left-radius: 60px;
		z-index: 2;
		@media #{$breakpoint} {
	    position: relative;
	    border-radius: 60px;
			bottom: -30px;;
			width: 100%;
			right: 0;
			box-sizing: border-box;
	  }
		a{
			height: 100px;
			display: flex;
			align-items: center;
			font-size: 3rem;
			color: #0c2940;
			padding: 0 75px 0 50px;
			position: relative;
			font-weight: bold;
			@media #{$breakpoint} {
		    font-size: 1.6rem;
		    height: 50px;
		    padding: 0;
		    justify-content: center;
		  }
		}
		a:after{
			position: absolute;
			right: 5%;
			content: url('../img/img-pc/header-icon.png');
			background-size: 10px;
			@media #{$breakpoint} {
		    content: url('../img/img-pc/header-iconSP.png');
		  }
		}
	}

	&__button:hover:before, &__button:hover:after{
		width: 0;
		background-color: #fff;
	}

	&__button, &__button:before, &__button:after{
		box-sizing: border-box;
		transition: all .3s;
	}

	&__button:before{
		right: 0;
	}

	&__button:after{
		left: 0;
	}

	&__button:before{
		content: "";
		position: absolute;
		top: 0;
		z-index: -1;
		display: block;
		background-color: #fff;
		width: 90%;
		height: 100px;
		@media #{$breakpoint} {
	  	height: 50px;
	  	border-top-right-radius: 60px;
    	border-bottom-right-radius: 60px;
	  }
	}
	&__button:after{
		content: "";
		position: absolute;
		top: 0;
		z-index: -1;
		display: block;
		background-color: #fff;
		width: 90%;
		height: 100px;
		border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    @media #{$breakpoint} {
	  	height: 50px;
	  }
	}

	&__button:hover{
		background-color: #ffba00;
		a{
			color: #ffffff;
		}
		a:after{
			content: url('../img/img-pc/header-icon-hover.png');
			@media #{$breakpoint} {
		    content: url('../img/img-pc/header-icon-hoverSP.png');
		  }
		}
	}
}

// Header SP
// ---------------------------------
.c-headerSP{
	position: fixed;
	background-color: #fff;
	z-index: 100;
	width: 100%;
	.l-main{
		display: flex;
		justify-content: space-between;
		padding: 12px 15px 10px 15px;
	}

	.c-headerSP__menu{
		padding-left: 10px;
	}

	.c-headerSP__logo{
		img{
			width: 83px;
		}
	}

	.c-menu__icon{
    display: inline-block;
    cursor: pointer;
	}

	.c-line1, .c-line2, .c-line3{
	  width: 30px;
	  height: 3px;
	  background-color: #ffba00;
	  margin: 6px 0;
	  transition: 0.4s;
	}

	.c-change .c-line1 {
	    transform: rotate(-45deg) translate(-5px, 6px);
	}

	.c-change .c-line2 {opacity: 0;}

	.c-change .c-line3 {
	    transform: rotate(45deg) translate(-6px, -8px);
	}
}

// Menu SP
// ---------------------------------
.c-menuSP{
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	opacity: 0.9;
	display: none;
	li{
		border-top: 1px solid #cccccc;
	}
	li:last-child{
		border-bottom: 1px solid #cccccc;
	}
	a{
		font-size: 1.4rem;
		color: #001f59;
		font-weight: bold;
		height: 45px;
		display: flex;
		align-items: center;
		padding: 0 15px;
	}
}

// Home 1
// ---------------------------------
.p-home1{
	background-color: #fff;
	.l-main{
		padding: 80px 0 12px 0;
		@media #{$breakpoint} {
	    padding: 55px 15px 35px 15px;
	  }
	}
	&__title{
		color: #111111;
		font-size: 4rem;
		font-weight: bold;
		border-bottom: 2px solid #ffba00;
		width: max-content;
		margin: 0 auto;
		padding-bottom: 10px;
		opacity: 0;
		@media #{$breakpoint} {
	    font-size: 1.5rem;
	    padding-bottom: 5px;
	  }
	}

	&__text1{
		color: #001f59;
		font-size: 2.4rem;
		font-weight: bold;
		padding: 60px 0 32px 0;
		line-height: 1.5;
		opacity: 0;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	    padding: 20px 0;
	  }
	}

	&__text2{
		color: #222222;
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 1.5;
		opacity: 0;
	}
}

// frames bg home2
.c-frame-bg{
		width: 100%;
		background-color: #fff;
		img{
			width: 100%;
		}
	}

// Home 2
// ---------------------------------
.p-home2{
	background-color: #fdf9e8;
	margin-top: -5px;
	overflow: hidden;
	position: relative;
	.c-menu-process{
		display: none;
		position: fixed;
		z-index: 20;
		top: 230px;
    right: 35px;
    text-align: right;
    @media #{$breakpoint} {
	   display: none !important;
	  }
    a{
	    font-size: 1.4rem;
	    color: #cccccc;
	    font-weight: bold;
    }
    a:hover{
    	color: #001f59;
    }
    ul{
    	float: left;
    }
    li{
    	padding-bottom: 17px;
    }
    .c-process{
    	padding-left: 15px;
    	float: right;
    }
	}
	&__title{
		padding: 80px 0 40px 0;
		@media #{$breakpoint} {
	    padding: 40px 0 10px 0;
	    img{
	    	width: 258px;
	    }
	  }
	}

	&__icon{
		padding: 0 0 130px 0;
		@media #{$breakpoint} {
			padding-bottom: 30px;
	    img{
	    	width: 35px;
	    }
	  }
	}

	.c-merit{
		display: flex;
		padding-bottom: 100px;
		@media #{$breakpoint} {
	    display: inline-block;
	    width: 100%;
	    padding-bottom: 40px;
	  }
	}

	.c-merit--imgRight{
		.c-merit__title{
			padding-left: 0;
			@media #{$breakpoint} {
		    img{
		    	width: 175px;
		    }
	  	}
		}

		.c-merit__text{
			padding-left: 0;
			width: 435px;
			@media #{$breakpoint} {
		    width: 100%;
		  }
		}

		.c-merit__body{
			left: 0;
		  z-index: 1;
		}

		.c-merit__image{
			// margin-left: -75px;
			position: relative;
			left: 505px;
			z-index: 0;
			@media #{$breakpoint} {
				margin-left: 0;
				margin-right: -60px;
				position: static;
		  }
		}

		.c-picture-main{
			left: 84%;
		}
	}

	.c-merit__title{
		padding-left: 132px;
		@media #{$breakpoint} {
	    padding: 10px 0;
	    border-bottom: 1px solid #001f59;
	    img{
	    	width: 226px;
	    }
	  }
	}

	.c-merit__icon{
		padding: 30px 0 40px 0;
		text-align: right;
	}

	.c-merit__image{
		margin-left: -580px;
		@media #{$breakpoint} {
	    margin-left: -60px;
	    img{
	    	width: 100%;
	    }
	  }
	}

	.c-picture-main{
  	position: absolute;
  	top: -3%;
  	left: -70%;
  	z-index: -1;
  	opacity: 0;
  }

	.c-merit__body{
		text-align: left;
		width: 575px;
		position: relative;
		left: -75px;
		z-index: 1;
		@media #{$breakpoint} {
	    position: static;
	    width: 100%;
	    z-index: 1;
	  }
	}

	.c-merit__text{
		font-size: 1.8rem;
		font-weight: 500;
		padding-left: 135px;
		line-height: 1.5;
		@media #{$breakpoint} {
	    padding: 15px 0 0 0;
	    font-size: 1.4rem;
	  }
		span{
			font-weight: bold;
		}
	}
}

// information
// ---------------------------------
.c-information{
	background-color: #ffd74e;

	.l-main{
		padding: 60px 0;
		@media #{$breakpoint} {
	    padding: 20px 15px;
	  }
	}

	.c-home3__info{
		display: flex;
		height: 100px;
		justify-content: center;
		padding-top: 40px;
		line-height: 3;
		@media #{$breakpoint} {
	    display: none;
	  }
	}

	.c-home3__group1{
		border-right: 1px solid #0c2940;
		padding: 12px 30px 0 0;
	}

	.c-home3__group2{
		border-left: 1px solid #0c2940;
		padding: 12px 0 0 30px;
	}

	.c-home3__time{
		font-size: 2rem;
		font-weight: bold;
		color: #0c2940;
	}
}

// Home 4
// ---------------------------------
.p-home4{
	overflow: hidden;
	background-color: #fff;
	opacity: 0.9;
	.l-main{
		padding: 120px 0;
		position: relative;
		@media #{$breakpoint} {
	    padding: 40px 0;
	    background-color: #fff;
	  }
	}

	&__title{
		@media #{$breakpoint} {
	    img{
	    	width: 307px;
	    }
	  }
	}

	&__icon{
		padding: 45px 0 175px 0;
		@media #{$breakpoint} {
			padding: 10px 0 30px 0;
	    img{
	    	width: 35px;
	    }
	  }
	}

	&__frames{
		position: absolute;
		top: 400px;
		right: -120px;
	}

	&__process1{
		position: absolute;
		top: 325px;
		right: 20px;
	}

	&__frames2{
		position: absolute;
		bottom: -58px;
		left: -120px;
		@media #{$breakpoint} {
	  	display: none;
	  }
	}

	&__process2{
		position: absolute;
		bottom: 60px;
		left: 220px;
	}

	.c-imgbody{
		display: flex;
		position: relative;
		@media #{$breakpoint} {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: -20px;
	    background-color: #fff6cd;
	  }

	  .c-stepSP{
	  	img{
	  		width: 190px;
	  		padding-left: 20%;
	  	}
	  }
	  .c-stepSP1{
	  	position: relative;
	  	z-index: 50;
	  	img{
	  		width: 15px;
	  		padding-left: 0;
	  	}
	  }
	  .c-stepSP2{
	  	position: relative;
	  	z-index: 50;
	  	margin-top: -30px;
	  	img:first-child{
	  		width: 15px;
	  		padding-left: 0;
	  	}
	  	img:last-child{
	  		width: 185px;
	  		position: relative;
	  		left: 22px;
	  	}
	  }
	  .c-stepSP3{
	  	position: relative;
	  	z-index: 50;
	  	top: -20px;
	  	img{
	  		width: 15px;
	  		padding-left: 0;
	  	}
	  }
		&--tab{
			margin-top: 190px;
			@media #{$breakpoint} {
		    margin-top: 30px;
		    background-color: #dfecf9;
		  }
		}
		&--tab:before, &--tab1:before{
			content: url('../img/img-pc/home4-arrow-blue.png') !important;
			position: absolute;
			top: 20px;
			left: -76px !important;
			@media #{$breakpoint} {
		    content: none !important;
		  }
		}

		&--tab1{
			margin-top: 100px;
			@media #{$breakpoint} {
		    margin-top: 20px;
		     background-color: #dfecf9;
		  }
			.c-img{
				position: relative;
				left: -160px;
				z-index: 11;
			}

			.c-imgSP1{
				img{
					width: 100%;
				}
			}

			.c-imgSP2{
				position: absolute;
				right: -30px;
				top: 60px;
				img{
					width: 250px;
				}
			}
		}
	}

	.c-imgbody:nth-child(8){
		.c-title{
			@media #{$breakpoint} {
		    img{
		    	width: 45px;
		    }
		  }
		}
	}

	.c-imgbody:last-child{
		.c-title{
			@media #{$breakpoint} {
		    img{
		    	width: 58px;
		    }
		  }
		}
	}

	.c-imgbody:before{
		content: url('../img/img-pc/home4-arrow.png');
		position: absolute;
		top: 20px;
		right: 302px;
		@media #{$breakpoint} {
	    content: none;
	  }
	}
	.c-img{
		margin-left: -460px;
		opacity: 0;
		@media #{$breakpoint} {
	    margin-left: 0;
	    position: relative;
	    z-index: 1;
	    opacity: 1;
	    img{
	    	width: 100%;
	    }
	  }
		&--right{
			margin-left: 500px;
			@media #{$breakpoint} {
		    margin-left: 0;
		    img{
		    	width: 100%;
		    }
		  }
		}
	}

	.c-img-complete{
		position: absolute;
		bottom: -60px;
		right: -365px;
		z-index: -1;
	}
	.c-body{
		width: 624px;
		height: 370px;
		box-sizing: border-box;
		border: 8px solid #cccccc;
		border-radius: 8px;
		background-color: #ffffff;
		position: absolute;
		right: 0;
		top: 32px;
		padding: 60px 50px 30px 50px;
		text-align: left;
		z-index: 10;
		@media #{$breakpoint} {
	    width: 90%;
	    height: auto;
	    margin: 0 auto;
	    padding: 15px 20px;
	    position: relative;
	    z-index: 2;
	    top: -20px;
	  }
		&--left{
			left: 0;
			.c-title{
				@media #{$breakpoint} {
			    img{
			    	width: 100px;
			    }
	  		}
			}
		}
	}

	.c-step{
		@media #{$breakpoint} {
	    img{
	    	width: 50px;
	    }
	  }
	}

	.c-title{
		padding: 30px 0 20px 0;
		border-bottom: 2px solid #cccccc;
		@media #{$breakpoint} {
			padding: 10px 0;
	    img{
	    	width: 135px;
	    }
	  }
	}

	.c-text{
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 1.6;
		padding-top: 20px;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	  }
		span{
			font-weight: bold;
		}
	}
}

// Home 5
// ---------------------------------
.p-home5{
	background: url('../img/img-pc/home5-bg.png') center no-repeat;
	background-size: cover;
	.l-main{
		padding: 130px 0;
		@media #{$breakpoint} {
	  	padding: 30px 15px;
	  }
	}

	&__icon{
		@media #{$breakpoint} {
	  	img{
	  		width: 35px	;
	  	}
	  }
	}

	&__title1{
		padding: 15px 0 10px 0;
		@media #{$breakpoint} {
			padding: 8px 0 5px 0;
	  	img{
	  		width: 180px	;
	  	}
	  }
	}

	&__title2{
		font-size: 2.4rem;
		font-weight: bold;
		padding: 15px 0 40px 0;
		color: #ffffff;
		@media #{$breakpoint} {
	  	padding: 5px 0 15px 0;
	  }
	}

	&__icon-play{
		width: max-content;
		margin: 0 auto;
		cursor: pointer;
		@media #{$breakpoint} {
	  	img{
	  		width: 50px	;
	  	}
	  }
		.c-play--hover{
			display: none;
			@media #{$breakpoint} {
		  	img{
		  		width: 50px	;
		  	}
		  }
		}
	}

	&__icon-play:hover{
		.c-play--hover{
			display: block;
		}

		.c-play{
			display: none;
		}
	}
}

// Modal Box
// -------------------------------
.l-modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #a8a8a8;
    @media #{$breakpoint} {
	    z-index: 100;
	    width: 100%;
	    height: 250px;
	    position: relative;
	    top: -100px;
	  }
}

// Modal box
// -------------------------------
.l-modal-content {
	width: 1180px;
	height: 650px;
	border: 10px solid #fccd2b;
  position: relative;
  background-color: #2f2c2c;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-duration: 0.4s;
  @media #{$breakpoint} {
    width: 90%;
    height: auto;
    border: 0;
  }
}
.l-modal-footer{
	width: 100%;
	padding-top: 40px;
	.c-close{
		width: max-content;
		margin: 0 auto;
		cursor: pointer;
  	text-align: center;
  	@media #{$breakpoint} {
  		img{
  			width: 48px;
  		}
	  }
  }
}

// Home 6
// ---------------------------------
.p-home6{
	background-color: #fefae8;
	.l-main{
		padding: 100px 0 120px 0;
		@media #{$breakpoint} {
	    padding: 40px 15px;
	  }
	}

	&__title{
		@media #{$breakpoint} {
	    img{
	    	width: 198px;
	    }
	  }
	}

	&__icon{
		padding: 40px 0 80px 0;
		@media #{$breakpoint} {
	    padding: 10px 0 30px 0;
	    img{
	    	width: 35px;
	    }
	  }
	}

	&__case{
		padding: 50px;
		background-color: #fff;
		border: 8px solid #ececec;
		border-radius: 8px;
		position: relative;
		@media #{$breakpoint} {
	    padding: 15px 0;
	  }
	}

	.c-mySlides{
		display: none;
	}

	&__toleft{
		position: absolute;
		top: 44%;
		left: -8px;
		cursor: pointer;
		@media #{$breakpoint} {
			top: 50%;
			left: -15px;
		  img{
		   	width: 35px;
		  }
	  }
	}
	&__toright{
		position: absolute;
		top: 44%;
		right: -8px;
		cursor: pointer;
		@media #{$breakpoint} {
			top: 50%;
			right: -15px;
	   img{
	   	width: 35px;
	   }
	  }
	}

	.c-case__title{
		font-weight: bold;
		font-size: 3rem;
		color: #001f59;
		padding: 20px 0 40px 0;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	    line-height: 1.5;
	    padding: 10px 0 20px 0;
	  }
	}

	.c-case__body{
		display: flex;
		@media #{$breakpoint} {
	    display: block;
	  }
	}

	.c-case__text{
		width: 50%;
		text-align: left;
		font-weight: 500;
		@media #{$breakpoint} {
	    width: 100%;
	    padding: 0 18px;
	    box-sizing: border-box;
	  }
	}

	.c-case__text1{
		font-size: 1.8rem;
		p{
			padding-bottom: 40px;
			@media #{$breakpoint} {
		    padding-bottom: 5px;
		    line-height: 1.5;
		  }
		}
	}

	.c-case__text2{
		font-size: 1.6rem;
		color: #333333;
	}

	.c-case__img{
		width: 50%;
		@media #{$breakpoint} {
			padding-bottom: 10px;
			width: 100%;
			img{
				width: 100%;
			}
	  }
	}

	.p-home6__dot{
		display: flex;
		justify-content: center;
		padding-top: 40px;
		@media #{$breakpoint} {
	    padding-top: 15px;
	  }
	}

	.c-dot{
		cursor: pointer;
		height: 13px;
		width: 13px;
		margin: 0 15px;
		border-radius: 50%;
		background-color: #dfdfdf;
		@media #{$breakpoint} {
	    margin: 0 8px;
	    height: 10px;
	    width: 10px;
	  }
	}

	.c-active, .c-dot:hover{
		background-color: #ffba00;
	}
}

// Home 7
// ---------------------------------
.p-home7{
	background-color: #fff;
	opacity: 0.9;
	.l-main{
		padding: 70px 0 120px 0;
		@media #{$breakpoint} {
	    padding: 40px 15px;
	  }
	}

	&__title{
		@media #{$breakpoint} {
	    img{width: 142px;}
	  }
	}

	&__icon{
		padding: 40px 0 80px 0;
		@media #{$breakpoint} {
	    padding: 10px 0 30px 0;
	    img{width: 35px;}
	  }
	}

	&__content{
		display: flex;
		align-items: center;
		border-top: 1px solid #ccc;
		@media #{$breakpoint} {
	    display: block;
	  }
	}

	&__content:last-child{
		border-bottom: 1px solid #ccc;
	}

	.p-content__title{
		font-size: 2rem;
		color: #001f59;
		font-weight: bold;
		padding: 0 0 0 30px;
		width: 250px;
		text-align: left;
		@media #{$breakpoint} {
	    width: 100%;
	    padding: 15px 0 0 0;
	    font-size: 1.4rem;
	  }
	}

	.p-content__text{
		padding: 30px 0 28px 0;
		font-size: 1.8rem;
		text-align: left;
		line-height: 1.6;
		font-weight: 500;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	    padding: 10px 0 15px 0;
	  }
		a{
			color: #ffa800;
			text-decoration: underline;
		}
	}
}

// Home 8
// ---------------------------------
.p-home8{
	overflow: hidden;
	.l-main{
		padding: 120px 0 0 0;
		@media #{$breakpoint} {
	    padding: 40px 0 0 0;
	  }
	}

	&__title{
		@media #{$breakpoint} {
	    img{width: 128px;}
	  }
	}

	&__icon{
		padding: 45px 0 75px 0;
		@media #{$breakpoint} {
	    padding: 10px 0 30px 0;
	    img{width: 35px;}
	  }
	}

	&__body{
		display: flex;
		padding-bottom: 60px;
		position: relative;
		@media #{$breakpoint} {
	    display: block;
	    padding-bottom: 30px;
	  }
		&--map-right{
			padding-bottom: 90px;
			margin-bottom: 100px;
			@media #{$breakpoint} {
		    padding-bottom: 0;
		    margin-bottom: 0;
		  }
			.p-home8__map{
				position: absolute;
				right: -290px;
				@media #{$breakpoint} {
			    position: static;
			  }
			}
			.c-info__title{
				padding: 0 0 30px 0 !important;
				@media #{$breakpoint} {
			    padding: 0 15px 15px 15px !important;
			  }
			}

			.c-info__body{
				padding: 30px 0 0 0 !important;
				@media #{$breakpoint} {
					text-align: left;
			    padding: 15px 15px 30px 15px !important;
			    border: none !important;
			  }
			}
		}
	}

	&__map{
		margin-left: -290px;
		@media #{$breakpoint} {
			margin-left: 0;
	  }
		iframe{
			width: 790px;
			height: 450px;
			@media #{$breakpoint} {
				width: 100%;
				height: 250px;
		  }
		}
	}

	&__info{
		width: 500px;
		text-align: left;
	}

	.c-info__title{
		font-size: 4rem;
		font-weight: bold;
		color: #001f59;
		padding: 0 0 30px 60px;
		border-bottom: 2px solid #cccccc;
		@media #{$breakpoint} {
			font-size: 2rem;
			padding: 0 15px 15px 15px;
			border: none;
			text-align: left;
	  }
	}

	.c-info__body{
		padding: 30px 0 0 60px;
		@media #{$breakpoint} {
			padding: 15px 15px 30px 15px;
			box-sizing: border-box;
			border-bottom: 1px solid #cccccc;
	  }
	}
	.c-info__content{
		display: flex;
		padding-bottom: 40px;
		@media #{$breakpoint} {
			display: block;
			padding-bottom: 15px;
	  }
	}

	.c-info__card{
		font-size: 1.8rem;
		font-weight: bold;
		color: #001f59;
		width: 130px;
		padding-left: 20px;
		position: relative;
		@media #{$breakpoint} {
			font-size: 1.4rem;
			width: 100%;
	  }
	}
	.c-info__card:before{
		content: url('../img/img-pc/home8-icon.png');
		position: absolute;
		top: -5px;
		left: 4px;
	}

	.c-info__text{
		font-size: 1.8rem;
		font-weight: 500;
		@media #{$breakpoint} {
			font-size: 1.4rem;
			padding: 10px 0 0 20px;
	  }
	}
}

// Home 9
// ---------------------------------
.p-home9{
	background-color: #fffbe9;
	.l-main{
		padding: 120px 0 80px 0;
		@media #{$breakpoint} {
	    padding: 40px 15px;
	  }
	}

	&__title{
		@media #{$breakpoint} {
	    img{width: 85px;}
	  }
	}

	&__icon{
		padding: 45px 0 80px 0;
		@media #{$breakpoint} {
	    padding: 10px 0 25px 0;
	    img{
	    	width: 35px;
	    }
	  }
	}

	&__QA{
		padding: 50px 60px;
		border: 8px solid #ececec;
		background-color: #ffffff;
		border-radius: 8px;
		text-align: left;
		margin-bottom: 40px;
		@media #{$breakpoint} {
	    padding: 10px 20px;
	  }
	}

	&__QA:last-child{
		margin-bottom: 0;
	}

	&__Q{
		display: flex;
		align-items: center;
		padding-bottom: 30px;
		@media #{$breakpoint} {

	    padding-bottom: 10px;
	  }
	}

	.c-Q__title{
		font-weight: bold;
		font-size: 4rem;
		color: #001f59;
		@media #{$breakpoint} {
	    font-size: 1.5rem;
	  }
	}

	.c-Q__text{
		font-weight: bold;
		font-size: 2rem;
		color: #001f59;
		padding-left: 20px;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	    padding-left: 10px;
	  }
	}

	&__A{
		display: flex;
		padding-top: 30px;
		border-top: 1px solid #cccccc;
		@media #{$breakpoint} {
	    padding-top: 10px;
	  }
	}

	.c-A__title{
		font-weight: bold;
		font-size: 4rem;
		color: #ffa800;
		@media #{$breakpoint} {
	    font-size: 1.5rem;
	  }
	}

	.c-A__text{
		font-size: 2rem;
		padding-left: 20px;
		line-height: 1.5;
		font-weight: 500;
		margin-top: 10px;
		@media #{$breakpoint} {
	    font-size: 1.4rem;
	    margin-top: 0;
	    padding-left: 10px;
	  }
	}
}

// Home 10
// ---------------------------------
.p-home10{
	background-color: #fff;
	opacity: 0.9;
	.l-main{
		padding: 100px 0 120px 0;
		@media #{$breakpoint} {
	    padding: 40px 15px;
	  }
	}

	&__title{
		img{
			margin: 0 auto;
		}
		@media #{$breakpoint} {
	    img{
	    	width: 225px;
	    	margin: 0 auto;
	    }
	  }
	}

	.c-form__button{
			position: relative;
			top: 40px;
			z-index: 2;
			width: max-content;
			margin: 0 auto;
			@media #{$breakpoint} {
		  	top: 30px;
		  	width: 100%;
		  }

			&--two{
				overflow: auto;
				position: static;
				margin-top: 40px;
				button{;
					margin-right: 90px !important;
					float: right;
					@media #{$breakpoint} {
				    margin-right: 0 !important;
				  }
				}
				button:first-child{
					float: left;
					background-color: #fff;
					color: #0c2940;
					border: 1px solid #0c2940;
					margin-left: 120px;
					@media #{$breakpoint} {
				    margin-left: 0;
				    margin-bottom: 15px;
				  }
				}
				button:first-child:after{
					content: none;
					position: absolute;
					left: 30px;
				}
				button:first-child:before{
					content:  url('../img/img-pc/home10-step2-iconbtn.png');
					position: absolute;
					left: 30px;
				}
				button:first-child:hover{
					color: #ffa800;
					border-color: #ffa800;
					background-color: #fff;
				}
				button:first-child:hover:before{
					content: url('../img/img-pc/home10-step2-iconhover.png');
				}
			}

			&--two:after, &--two:before{
				content: none !important;
			}

			&--style1{
				margin-top: 80px;
				position: relative;
				@media #{$breakpoint} {
			    margin-top: 30px;
			  }
				button{
					width: 500px !important;
					@media #{$breakpoint} {
				    width: 100% !important;
				  }
				}
				button:after{
					content: none !important;

				}
				button:before{
					content: url('../img/img-pc/home10-icon-left.png');
					position: absolute;
					left: 30px;
				}
			}

			&--style1:before, &--style1:after{
				content: none !important;
			}
			button{
				width: 350px;
				height: 70px;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #ffffff;
				background-color: #0c2940;
				font-size: 2.4rem;
				font-weight: bold;
				margin: 0 auto;
				position: relative;
				cursor: pointer;
				@media #{$breakpoint} {
			    width: 100%;
			    height: 50px;
			    font-size: 1.6rem;
			  }
			}
			button:after{
				content: url('../img/img-pc/form-icon.png');
				position: absolute;
				right: 30px;
			}
			button:hover{
				background-color: #ffa800;
			}
	}

	.c-form__button:before{
		content: "";
		width: 55%;
		height: 70px;
		background-color: #0c2940;
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;
		transition: all .5s;
		z-index: -1;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		@media #{$breakpoint} {
	    height: 50px;
	  }
	}
	.c-form__button:hover:before{
		width: 0;
		background-color: #ffa800;
		z-index: 10;
	}

	.c-form__button:after{
		content: "";
		width: 55%;
		height: 70px;
		background-color: #0c2940;
		position: absolute;
		top: 0;
		right: 0;
		box-sizing: border-box;
		transition: all .5s;
		z-index: -1;
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		@media #{$breakpoint} {
	    height: 50px;
	  }
	}
	.c-form__button:hover:after{
		width: 0;
		background-color: #ffa800;
		z-index: 5;
	}


	.c-tab{
		border-top: 10px solid #ffa800;
		@media #{$breakpoint} {
	    border-top: 5px solid #ffa800;
	  }
		.c-tab__title{
			padding: 30px 0;
			border-bottom: 1px solid #cccccc;
			position: relative;
			img{
				margin: 0 auto;
			}
			@media #{$breakpoint} {
				padding: 15px 0;
		    img{
		    	width: 143px;
		    	margin: 0 auto;
		    }
		  }
			.c-tab__logo{
				position: absolute;
				top: 20px;
				left: 50px;
			}
		}
		.l-main{
			padding: 60px 0 80px 0;
			@media #{$breakpoint} {
				padding: 30px 15px 40px 15px;
			}
		}

		.c-tab__process{
			img{
				margin: 0 auto;
			}
			@media #{$breakpoint} {
				padding: 0 10px;
		    img{
		    	width: 100%;
		    }
		  }
		}

		.c-tab__title1{
			font-size: 2.4rem;
			font-weight: bold;
			color: #001f59;
			padding: 80px 0 30px 0;
			border-bottom: 1px solid #cccccc;
			@media #{$breakpoint} {
				padding: 40px 0 20px 0;
				font-size: 1.4rem;
				text-align: left;
			}
			&--style1{
				border-bottom: none;
			}
		}

		.c-tab__body{
			text-align: left;
			p{
				text-align: center;
				font-size: 1.8rem;
				line-height: 1.5;
				@media #{$breakpoint} {
			    font-size: 1.4rem;
			  }
			}
			table{
				padding: 30px 0 15px 0;
				line-height: 2.5;
				border-bottom: 1px solid #cccccc;
				@media #{$breakpoint} {
			    padding: 0;
			    border: none;
			  }
			}
			tr{
				display: flex;
				font-size: 1.8rem;
				@media #{$breakpoint} {
					font-size: 1.3rem;
					border-bottom: 1px solid #cccccc;
				}
			}
			td:first-child{
				width: 320px;
				color: #001f59;
				font-weight: bold;
				padding-left: 30px;
				@media #{$breakpoint} {
					width: 39%;
					padding-left: 0;
				}
			}
			td:last-child{
				width: 680px;
				@media #{$breakpoint} {
					width: 61%;
				}
			}
		}
	}
	.c-tab:last-child{
		@media #{$breakpoint} {
	    .c-tab__title1{
	    	text-align: center;
	    }
	    .c-tab__body{
	    }
	  }
	}

	&__icon{
		padding: 45px 0 80px 0;
		@media #{$breakpoint} {
	    padding: 10px 0 30px 0;
	    img{width: 35px;}
	  }
	}

	.p-home10__form{
		.c-form{
			display: flex;
			border: 1px solid #cccccc;
			border-bottom: none;
			&--border-bottom{
				border-bottom: 1px solid #cccccc;
				@media #{$breakpoint} {
			    display: block;
			    .c-form__title{
			    	width: 100%;
			    	height: auto;
			    }
			    .c-form__content{
			    	width: 100%;
			    	padding: 0 0 15px 0;
			    	height: auto;
			    }
			  }
			}
		}
		.c-form__title{
			width: 290px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 75px;
			padding: 0 30px;
			box-sizing: border-box;
			border-right: 1px solid #cccccc;
			@media #{$breakpoint} {
		    width: 30%;
		    border: none;
				padding: 15px 0;
				display: block;
				text-align: left;
		  }
			p{
				font-weight: bold;
				font-size: 1.8rem;
				color: #001f59;
				@media #{$breakpoint} {
			    padding-bottom: 10px;
			    font-size: 1.3rem;
			  }
			}
			span{
				color: #fff;
				background-color: #ffa800;
				font-size: 1.2rem;
				font-weight: bold;
				padding: 4px 4px 2px 4px;
				@media #{$breakpoint} {
			    font-size: 0.9rem;
			  }
			}
			&--style1{
				height: 170px;
			}
		}

		.c-form__content{
			width: 710px;
			display: flex;
			height: 75px;
			align-items: center;
			padding-left: 30px;
			box-sizing: border-box;
			@media #{$breakpoint} {
		    width: 70%;
		  }

			&--style1{
				height: 170px;
				.c-input{
					width: 100%;
				}
				textarea{
					width: 100%;
					height: 125px;
					resize: none;
					box-sizing: border-box;
					padding: 15px 0 0 12px;
				}
				textarea:focus{
					background-color: #f3f3f3;
				}
			}
			.c-input{
				font-size: 1.8rem;
				font-weight: 500;
				@media #{$breakpoint} {
			    width: 100%;
			    font-size: 1.3rem;
			  }
				input{
					width: 400px;
					height: 30px;
					padding-left: 5px;
					box-sizing: border-box;
					@media #{$breakpoint} {
				    width: 100%;
				    font-size: 1.3rem;
				  }
				}
				input:focus{
					background-color: #f3f3f3;
				}

				&--style1{
					@media #{$breakpoint} {
				    text-align: left;
				    display: flex;
				    align-items: center;
				    input{
				    	margin-right: 10px;
				    }
				  }
					input{
						width: 50px;
					}
				}

				&--radio{
					display: flex;
					align-items: center;
					input{
						width: 15px;
					}
					input:after {
		        width: 12px;
		        height: 12px;
		        border-radius: 15px;
		        top: 6px;
		        left: -1px;
		        position: relative;
		        background-color: #d1d3d1;
		        content: '';
		        display: inline-block;
		        border: 2px solid white;
    			}
					input:checked:after {
		        width: 12px;
		        height: 12px;
		        border-radius: 15px;
		        top: 6px;
		        left: -1px;
		        position: relative;
		        background-color: #ffa500;
		        content: '';
		        display: inline-block;
		        border: 2px solid white;
			    }
					input:last-child{
						margin-left: 20px;
					}
				}

				&--select{
					display: flex;
					align-items: center;
					@media #{$breakpoint} {
				    display: block;
				    text-align: left;
				    p{
				    	padding-bottom: 10px;
				    }
				  }
					select{
						margin-left: 30px;
						width: 60px;
						height: 30px;
						padding-left: 5px;
						@media #{$breakpoint} {
					    float: left;
					    margin-left: 5px;
					  }
					}
				}
			}
		}
	}
}

// Footer
// --------------------------------
.c-footer{
	background-color: #f9f9f9;
	.l-main{
		padding: 15px 0 20px 0;
	}
	p{
		color: #222222;
		font-size: 1.4rem;
		@media #{$breakpoint} {
	    font-size: 1rem;
	  }
	}
}


// FadeIn
// --------------------------------
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
	animation-fill-mode: both;
	animation-duration: 2s;
	visibility: visible !important;
  animation-name: fadeInUp;
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-8%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
	animation-fill-mode: both;
	animation-duration: 2s;
	visibility: visible !important;
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(8%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  animation-fill-mode: both;
	animation-duration: 2s;
	visibility: visible !important;
  animation-name: fadeInRight;
}