.c-header:after {
  display: block;
  clear: both;
  content: "";
}

a {
  text-decoration: none;
  color: #000000;
}

.pc-only {
  display: block;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

.is-current {
  position: relative;
}

.is-current a {
  color: #001f59 !important;
}

.is-current:after {
  content: url("../img/img-pc/menu-mini-icon.png");
  position: absolute;
  right: -25px;
}

.u-color1 {
  color: #001f59;
}

.u-bg1 {
  background-color: #cccccc !important;
}

.l-main {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .l-main {
    width: 100%;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-buttonSP {
  width: 100%;
  margin-top: 15px;
}

.c-buttonSP a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 50px;
  font-size: 1.6rem;
  border: 4px solid #0c2940;
  border-radius: 60px;
  padding: 0 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-buttonSP a img {
  width: 135px;
  padding-right: 20px;
}

.c-buttonSP a p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0c2940;
  padding-left: 20px;
  border-left: 1px solid #0c2940;
}

.c-buttonSP a span {
  font-size: 0.9rem;
}

.c-button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .c-button {
    width: 100%;
  }
}

.c-button a {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 4px solid #0c2940;
  border-radius: 60px;
  height: 105px;
  width: 700px;
  font-size: 3.4rem;
  font-weight: bold;
  color: #0c2940;
  margin: 0 auto;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .c-button a {
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-button a:before {
  content: url("../img/img-pc/body3-icon-glasses.png");
  position: absolute;
  left: 105px;
  top: 30px;
}

@media (max-width: 768px) {
  .c-button a:before {
    left: 25px;
    top: 15px;
    content: url("../img/img-pc/body3-icon-glassesSP.png");
  }
}

.c-button a:after {
  content: url("../img/img-pc/header-icon.png");
  position: absolute;
  right: 85px;
  top: 30px;
}

@media (max-width: 768px) {
  .c-button a:after {
    right: 25px;
    top: 15px;
    content: url("../img/img-pc/header-iconSP.png");
  }
}

.c-button:hover a:hover {
  background-color: #0c2940;
  color: #fff;
}

.c-button:hover a:before {
  content: url("../img/img-pc/body3-icon-glasses-hover.png");
}

@media (max-width: 768px) {
  .c-button:hover a:before {
    content: url("../img/img-pc/body3-icon-glass-hoverSP.png");
  }
}

.c-button:hover a:after {
  content: url("../img/img-pc/header-icon-hover.png");
}

@media (max-width: 768px) {
  .c-button:hover a:after {
    content: url("../img/img-pc/header-icon-hoverSP.png");
  }
}

.c-header {
  background: url("../img/img-pc/header-background.png") center no-repeat;
  background-size: cover;
  position: relative;
  border-top: 5px solid #ffba00;
}

@media (max-width: 768px) {
  .c-header {
    border: none;
    padding-top: 50px;
  }
}

.c-header .c-header__logo img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .c-header .c-header__logo img {
    width: 70%;
  }
}

.c-header__title {
  position: absolute;
  top: 40px;
  left: 40px;
}

.c-header .l-main {
  padding: 100px 0;
}

@media (max-width: 768px) {
  .c-header .l-main {
    padding: 35px 15px 40px 15px;
  }
}

.c-header__button {
  position: relative;
  float: right;
  right: -8px;
  bottom: 40px;
  background-color: #fff;
  border: 6px solid #ffba00;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  z-index: 2;
}

@media (max-width: 768px) {
  .c-header__button {
    position: relative;
    border-radius: 60px;
    bottom: -30px;
    width: 100%;
    right: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.c-header__button a {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: #0c2940;
  padding: 0 75px 0 50px;
  position: relative;
  font-weight: bold;
}

@media (max-width: 768px) {
  .c-header__button a {
    font-size: 1.6rem;
    height: 50px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.c-header__button a:after {
  position: absolute;
  right: 5%;
  content: url("../img/img-pc/header-icon.png");
  background-size: 10px;
}

@media (max-width: 768px) {
  .c-header__button a:after {
    content: url("../img/img-pc/header-iconSP.png");
  }
}

.c-header__button:hover:before, .c-header__button:hover:after {
  width: 0;
  background-color: #fff;
}

.c-header__button, .c-header__button:before, .c-header__button:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-header__button:before {
  right: 0;
}

.c-header__button:after {
  left: 0;
}

.c-header__button:before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  background-color: #fff;
  width: 90%;
  height: 100px;
}

@media (max-width: 768px) {
  .c-header__button:before {
    height: 50px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.c-header__button:after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  display: block;
  background-color: #fff;
  width: 90%;
  height: 100px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}

@media (max-width: 768px) {
  .c-header__button:after {
    height: 50px;
  }
}

.c-header__button:hover {
  background-color: #ffba00;
}

.c-header__button:hover a {
  color: #ffffff;
}

.c-header__button:hover a:after {
  content: url("../img/img-pc/header-icon-hover.png");
}

@media (max-width: 768px) {
  .c-header__button:hover a:after {
    content: url("../img/img-pc/header-icon-hoverSP.png");
  }
}

.c-headerSP {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.c-headerSP .l-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px 10px 15px;
}

.c-headerSP .c-headerSP__menu {
  padding-left: 10px;
}

.c-headerSP .c-headerSP__logo img {
  width: 83px;
}

.c-headerSP .c-menu__icon {
  display: inline-block;
  cursor: pointer;
}

.c-headerSP .c-line1, .c-headerSP .c-line2, .c-headerSP .c-line3 {
  width: 30px;
  height: 3px;
  background-color: #ffba00;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.c-headerSP .c-change .c-line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.c-headerSP .c-change .c-line2 {
  opacity: 0;
}

.c-headerSP .c-change .c-line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
          transform: rotate(45deg) translate(-6px, -8px);
}

.c-menuSP {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  opacity: 0.9;
  display: none;
}

.c-menuSP li {
  border-top: 1px solid #cccccc;
}

.c-menuSP li:last-child {
  border-bottom: 1px solid #cccccc;
}

.c-menuSP a {
  font-size: 1.4rem;
  color: #001f59;
  font-weight: bold;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.p-home1 {
  background-color: #fff;
}

.p-home1 .l-main {
  padding: 80px 0 12px 0;
}

@media (max-width: 768px) {
  .p-home1 .l-main {
    padding: 55px 15px 35px 15px;
  }
}

.p-home1__title {
  color: #111111;
  font-size: 4rem;
  font-weight: bold;
  border-bottom: 2px solid #ffba00;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 10px;
  opacity: 0;
}

@media (max-width: 768px) {
  .p-home1__title {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
}

.p-home1__text1 {
  color: #001f59;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 60px 0 32px 0;
  line-height: 1.5;
  opacity: 0;
}

@media (max-width: 768px) {
  .p-home1__text1 {
    font-size: 1.4rem;
    padding: 20px 0;
  }
}

.p-home1__text2 {
  color: #222222;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  opacity: 0;
}

.c-frame-bg {
  width: 100%;
  background-color: #fff;
}

.c-frame-bg img {
  width: 100%;
}

.p-home2 {
  background-color: #fdf9e8;
  margin-top: -5px;
  overflow: hidden;
  position: relative;
}

.p-home2 .c-menu-process {
  display: none;
  position: fixed;
  z-index: 20;
  top: 230px;
  right: 35px;
  text-align: right;
}

@media (max-width: 768px) {
  .p-home2 .c-menu-process {
    display: none !important;
  }
}

.p-home2 .c-menu-process a {
  font-size: 1.4rem;
  color: #cccccc;
  font-weight: bold;
}

.p-home2 .c-menu-process a:hover {
  color: #001f59;
}

.p-home2 .c-menu-process ul {
  float: left;
}

.p-home2 .c-menu-process li {
  padding-bottom: 17px;
}

.p-home2 .c-menu-process .c-process {
  padding-left: 15px;
  float: right;
}

.p-home2__title {
  padding: 80px 0 40px 0;
}

@media (max-width: 768px) {
  .p-home2__title {
    padding: 40px 0 10px 0;
  }
  .p-home2__title img {
    width: 258px;
  }
}

.p-home2__icon {
  padding: 0 0 130px 0;
}

@media (max-width: 768px) {
  .p-home2__icon {
    padding-bottom: 30px;
  }
  .p-home2__icon img {
    width: 35px;
  }
}

.p-home2 .c-merit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .p-home2 .c-merit {
    display: inline-block;
    width: 100%;
    padding-bottom: 40px;
  }
}

.p-home2 .c-merit--imgRight .c-merit__title {
  padding-left: 0;
}

@media (max-width: 768px) {
  .p-home2 .c-merit--imgRight .c-merit__title img {
    width: 175px;
  }
}

.p-home2 .c-merit--imgRight .c-merit__text {
  padding-left: 0;
  width: 435px;
}

@media (max-width: 768px) {
  .p-home2 .c-merit--imgRight .c-merit__text {
    width: 100%;
  }
}

.p-home2 .c-merit--imgRight .c-merit__body {
  left: 0;
  z-index: 1;
}

.p-home2 .c-merit--imgRight .c-merit__image {
  position: relative;
  left: 505px;
  z-index: 0;
}

@media (max-width: 768px) {
  .p-home2 .c-merit--imgRight .c-merit__image {
    margin-left: 0;
    margin-right: -60px;
    position: static;
  }
}

.p-home2 .c-merit--imgRight .c-picture-main {
  left: 84%;
}

.p-home2 .c-merit__title {
  padding-left: 132px;
}

@media (max-width: 768px) {
  .p-home2 .c-merit__title {
    padding: 10px 0;
    border-bottom: 1px solid #001f59;
  }
  .p-home2 .c-merit__title img {
    width: 226px;
  }
}

.p-home2 .c-merit__icon {
  padding: 30px 0 40px 0;
  text-align: right;
}

.p-home2 .c-merit__image {
  margin-left: -580px;
}

@media (max-width: 768px) {
  .p-home2 .c-merit__image {
    margin-left: -60px;
  }
  .p-home2 .c-merit__image img {
    width: 100%;
  }
}

.p-home2 .c-picture-main {
  position: absolute;
  top: -3%;
  left: -70%;
  z-index: -1;
  opacity: 0;
}

.p-home2 .c-merit__body {
  text-align: left;
  width: 575px;
  position: relative;
  left: -75px;
  z-index: 1;
}

@media (max-width: 768px) {
  .p-home2 .c-merit__body {
    position: static;
    width: 100%;
    z-index: 1;
  }
}

.p-home2 .c-merit__text {
  font-size: 1.8rem;
  font-weight: 500;
  padding-left: 135px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .p-home2 .c-merit__text {
    padding: 15px 0 0 0;
    font-size: 1.4rem;
  }
}

.p-home2 .c-merit__text span {
  font-weight: bold;
}

.c-information {
  background-color: #ffd74e;
}

.c-information .l-main {
  padding: 60px 0;
}

@media (max-width: 768px) {
  .c-information .l-main {
    padding: 20px 15px;
  }
}

.c-information .c-home3__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
  line-height: 3;
}

@media (max-width: 768px) {
  .c-information .c-home3__info {
    display: none;
  }
}

.c-information .c-home3__group1 {
  border-right: 1px solid #0c2940;
  padding: 12px 30px 0 0;
}

.c-information .c-home3__group2 {
  border-left: 1px solid #0c2940;
  padding: 12px 0 0 30px;
}

.c-information .c-home3__time {
  font-size: 2rem;
  font-weight: bold;
  color: #0c2940;
}

.p-home4 {
  overflow: hidden;
  background-color: #fff;
  opacity: 0.9;
}

.p-home4 .l-main {
  padding: 120px 0;
  position: relative;
}

@media (max-width: 768px) {
  .p-home4 .l-main {
    padding: 40px 0;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .p-home4__title img {
    width: 307px;
  }
}

.p-home4__icon {
  padding: 45px 0 175px 0;
}

@media (max-width: 768px) {
  .p-home4__icon {
    padding: 10px 0 30px 0;
  }
  .p-home4__icon img {
    width: 35px;
  }
}

.p-home4__frames {
  position: absolute;
  top: 400px;
  right: -120px;
}

.p-home4__process1 {
  position: absolute;
  top: 325px;
  right: 20px;
}

.p-home4__frames2 {
  position: absolute;
  bottom: -58px;
  left: -120px;
}

@media (max-width: 768px) {
  .p-home4__frames2 {
    display: none;
  }
}

.p-home4__process2 {
  position: absolute;
  bottom: 60px;
  left: 220px;
}

.p-home4 .c-imgbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody {
    display: inline-block;
    width: 100%;
    margin-bottom: -20px;
    background-color: #fff6cd;
  }
}

.p-home4 .c-imgbody .c-stepSP img {
  width: 190px;
  padding-left: 20%;
}

.p-home4 .c-imgbody .c-stepSP1 {
  position: relative;
  z-index: 50;
}

.p-home4 .c-imgbody .c-stepSP1 img {
  width: 15px;
  padding-left: 0;
}

.p-home4 .c-imgbody .c-stepSP2 {
  position: relative;
  z-index: 50;
  margin-top: -30px;
}

.p-home4 .c-imgbody .c-stepSP2 img:first-child {
  width: 15px;
  padding-left: 0;
}

.p-home4 .c-imgbody .c-stepSP2 img:last-child {
  width: 185px;
  position: relative;
  left: 22px;
}

.p-home4 .c-imgbody .c-stepSP3 {
  position: relative;
  z-index: 50;
  top: -20px;
}

.p-home4 .c-imgbody .c-stepSP3 img {
  width: 15px;
  padding-left: 0;
}

.p-home4 .c-imgbody--tab {
  margin-top: 190px;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody--tab {
    margin-top: 30px;
    background-color: #dfecf9;
  }
}

.p-home4 .c-imgbody--tab:before, .p-home4 .c-imgbody--tab1:before {
  content: url("../img/img-pc/home4-arrow-blue.png") !important;
  position: absolute;
  top: 20px;
  left: -76px !important;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody--tab:before, .p-home4 .c-imgbody--tab1:before {
    content: none !important;
  }
}

.p-home4 .c-imgbody--tab1 {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody--tab1 {
    margin-top: 20px;
    background-color: #dfecf9;
  }
}

.p-home4 .c-imgbody--tab1 .c-img {
  position: relative;
  left: -160px;
  z-index: 11;
}

.p-home4 .c-imgbody--tab1 .c-imgSP1 img {
  width: 100%;
}

.p-home4 .c-imgbody--tab1 .c-imgSP2 {
  position: absolute;
  right: -30px;
  top: 60px;
}

.p-home4 .c-imgbody--tab1 .c-imgSP2 img {
  width: 250px;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody:nth-child(8) .c-title img {
    width: 45px;
  }
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody:last-child .c-title img {
    width: 58px;
  }
}

.p-home4 .c-imgbody:before {
  content: url("../img/img-pc/home4-arrow.png");
  position: absolute;
  top: 20px;
  right: 302px;
}

@media (max-width: 768px) {
  .p-home4 .c-imgbody:before {
    content: none;
  }
}

.p-home4 .c-img {
  margin-left: -460px;
  opacity: 0;
}

@media (max-width: 768px) {
  .p-home4 .c-img {
    margin-left: 0;
    position: relative;
    z-index: 1;
    opacity: 1;
  }
  .p-home4 .c-img img {
    width: 100%;
  }
}

.p-home4 .c-img--right {
  margin-left: 500px;
}

@media (max-width: 768px) {
  .p-home4 .c-img--right {
    margin-left: 0;
  }
  .p-home4 .c-img--right img {
    width: 100%;
  }
}

.p-home4 .c-img-complete {
  position: absolute;
  bottom: -60px;
  right: -365px;
  z-index: -1;
}

.p-home4 .c-body {
  width: 624px;
  height: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 8px solid #cccccc;
  border-radius: 8px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 32px;
  padding: 60px 50px 30px 50px;
  text-align: left;
  z-index: 10;
}

@media (max-width: 768px) {
  .p-home4 .c-body {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 15px 20px;
    position: relative;
    z-index: 2;
    top: -20px;
  }
}

.p-home4 .c-body--left {
  left: 0;
}

@media (max-width: 768px) {
  .p-home4 .c-body--left .c-title img {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .p-home4 .c-step img {
    width: 50px;
  }
}

.p-home4 .c-title {
  padding: 30px 0 20px 0;
  border-bottom: 2px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home4 .c-title {
    padding: 10px 0;
  }
  .p-home4 .c-title img {
    width: 135px;
  }
}

.p-home4 .c-text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.6;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .p-home4 .c-text {
    font-size: 1.4rem;
  }
}

.p-home4 .c-text span {
  font-weight: bold;
}

.p-home5 {
  background: url("../img/img-pc/home5-bg.png") center no-repeat;
  background-size: cover;
}

.p-home5 .l-main {
  padding: 130px 0;
}

@media (max-width: 768px) {
  .p-home5 .l-main {
    padding: 30px 15px;
  }
}

@media (max-width: 768px) {
  .p-home5__icon img {
    width: 35px;
  }
}

.p-home5__title1 {
  padding: 15px 0 10px 0;
}

@media (max-width: 768px) {
  .p-home5__title1 {
    padding: 8px 0 5px 0;
  }
  .p-home5__title1 img {
    width: 180px;
  }
}

.p-home5__title2 {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 15px 0 40px 0;
  color: #ffffff;
}

@media (max-width: 768px) {
  .p-home5__title2 {
    padding: 5px 0 15px 0;
  }
}

.p-home5__icon-play {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-home5__icon-play img {
    width: 50px;
  }
}

.p-home5__icon-play .c-play--hover {
  display: none;
}

@media (max-width: 768px) {
  .p-home5__icon-play .c-play--hover img {
    width: 50px;
  }
}

.p-home5__icon-play:hover .c-play--hover {
  display: block;
}

.p-home5__icon-play:hover .c-play {
  display: none;
}

.l-modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #a8a8a8;
}

@media (max-width: 768px) {
  .l-modal {
    z-index: 100;
    width: 100%;
    height: 250px;
    position: relative;
    top: -100px;
  }
}

.l-modal-content {
  width: 1180px;
  height: 650px;
  border: 10px solid #fccd2b;
  position: relative;
  background-color: #2f2c2c;
  margin: auto;
  padding: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

@media (max-width: 768px) {
  .l-modal-content {
    width: 90%;
    height: auto;
    border: 0;
  }
}

.l-modal-footer {
  width: 100%;
  padding-top: 40px;
}

.l-modal-footer .c-close {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .l-modal-footer .c-close img {
    width: 48px;
  }
}

.p-home6 {
  background-color: #fefae8;
}

.p-home6 .l-main {
  padding: 100px 0 120px 0;
}

@media (max-width: 768px) {
  .p-home6 .l-main {
    padding: 40px 15px;
  }
}

@media (max-width: 768px) {
  .p-home6__title img {
    width: 198px;
  }
}

.p-home6__icon {
  padding: 40px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home6__icon {
    padding: 10px 0 30px 0;
  }
  .p-home6__icon img {
    width: 35px;
  }
}

.p-home6__case {
  padding: 50px;
  background-color: #fff;
  border: 8px solid #ececec;
  border-radius: 8px;
  position: relative;
}

@media (max-width: 768px) {
  .p-home6__case {
    padding: 15px 0;
  }
}

.p-home6 .c-mySlides {
  display: none;
}

.p-home6__toleft {
  position: absolute;
  top: 44%;
  left: -8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-home6__toleft {
    top: 50%;
    left: -15px;
  }
  .p-home6__toleft img {
    width: 35px;
  }
}

.p-home6__toright {
  position: absolute;
  top: 44%;
  right: -8px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-home6__toright {
    top: 50%;
    right: -15px;
  }
  .p-home6__toright img {
    width: 35px;
  }
}

.p-home6 .c-case__title {
  font-weight: bold;
  font-size: 3rem;
  color: #001f59;
  padding: 20px 0 40px 0;
}

@media (max-width: 768px) {
  .p-home6 .c-case__title {
    font-size: 1.4rem;
    line-height: 1.5;
    padding: 10px 0 20px 0;
  }
}

.p-home6 .c-case__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .p-home6 .c-case__body {
    display: block;
  }
}

.p-home6 .c-case__text {
  width: 50%;
  text-align: left;
  font-weight: 500;
}

@media (max-width: 768px) {
  .p-home6 .c-case__text {
    width: 100%;
    padding: 0 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.p-home6 .c-case__text1 {
  font-size: 1.8rem;
}

.p-home6 .c-case__text1 p {
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .p-home6 .c-case__text1 p {
    padding-bottom: 5px;
    line-height: 1.5;
  }
}

.p-home6 .c-case__text2 {
  font-size: 1.6rem;
  color: #333333;
}

.p-home6 .c-case__img {
  width: 50%;
}

@media (max-width: 768px) {
  .p-home6 .c-case__img {
    padding-bottom: 10px;
    width: 100%;
  }
  .p-home6 .c-case__img img {
    width: 100%;
  }
}

.p-home6 .p-home6__dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

@media (max-width: 768px) {
  .p-home6 .p-home6__dot {
    padding-top: 15px;
  }
}

.p-home6 .c-dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 15px;
  border-radius: 50%;
  background-color: #dfdfdf;
}

@media (max-width: 768px) {
  .p-home6 .c-dot {
    margin: 0 8px;
    height: 10px;
    width: 10px;
  }
}

.p-home6 .c-active, .p-home6 .c-dot:hover {
  background-color: #ffba00;
}

.p-home7 {
  background-color: #fff;
  opacity: 0.9;
}

.p-home7 .l-main {
  padding: 70px 0 120px 0;
}

@media (max-width: 768px) {
  .p-home7 .l-main {
    padding: 40px 15px;
  }
}

@media (max-width: 768px) {
  .p-home7__title img {
    width: 142px;
  }
}

.p-home7__icon {
  padding: 40px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home7__icon {
    padding: 10px 0 30px 0;
  }
  .p-home7__icon img {
    width: 35px;
  }
}

.p-home7__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
  .p-home7__content {
    display: block;
  }
}

.p-home7__content:last-child {
  border-bottom: 1px solid #ccc;
}

.p-home7 .p-content__title {
  font-size: 2rem;
  color: #001f59;
  font-weight: bold;
  padding: 0 0 0 30px;
  width: 250px;
  text-align: left;
}

@media (max-width: 768px) {
  .p-home7 .p-content__title {
    width: 100%;
    padding: 15px 0 0 0;
    font-size: 1.4rem;
  }
}

.p-home7 .p-content__text {
  padding: 30px 0 28px 0;
  font-size: 1.8rem;
  text-align: left;
  line-height: 1.6;
  font-weight: 500;
}

@media (max-width: 768px) {
  .p-home7 .p-content__text {
    font-size: 1.4rem;
    padding: 10px 0 15px 0;
  }
}

.p-home7 .p-content__text a {
  color: #ffa800;
  text-decoration: underline;
}

.p-home8 {
  overflow: hidden;
}

.p-home8 .l-main {
  padding: 120px 0 0 0;
}

@media (max-width: 768px) {
  .p-home8 .l-main {
    padding: 40px 0 0 0;
  }
}

@media (max-width: 768px) {
  .p-home8__title img {
    width: 128px;
  }
}

.p-home8__icon {
  padding: 45px 0 75px 0;
}

@media (max-width: 768px) {
  .p-home8__icon {
    padding: 10px 0 30px 0;
  }
  .p-home8__icon img {
    width: 35px;
  }
}

.p-home8__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
  position: relative;
}

@media (max-width: 768px) {
  .p-home8__body {
    display: block;
    padding-bottom: 30px;
  }
}

.p-home8__body--map-right {
  padding-bottom: 90px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .p-home8__body--map-right {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.p-home8__body--map-right .p-home8__map {
  position: absolute;
  right: -290px;
}

@media (max-width: 768px) {
  .p-home8__body--map-right .p-home8__map {
    position: static;
  }
}

.p-home8__body--map-right .c-info__title {
  padding: 0 0 30px 0 !important;
}

@media (max-width: 768px) {
  .p-home8__body--map-right .c-info__title {
    padding: 0 15px 15px 15px !important;
  }
}

.p-home8__body--map-right .c-info__body {
  padding: 30px 0 0 0 !important;
}

@media (max-width: 768px) {
  .p-home8__body--map-right .c-info__body {
    text-align: left;
    padding: 15px 15px 30px 15px !important;
    border: none !important;
  }
}

.p-home8__map {
  margin-left: -290px;
}

@media (max-width: 768px) {
  .p-home8__map {
    margin-left: 0;
  }
}

.p-home8__map iframe {
  width: 790px;
  height: 450px;
}

@media (max-width: 768px) {
  .p-home8__map iframe {
    width: 100%;
    height: 250px;
  }
}

.p-home8__info {
  width: 500px;
  text-align: left;
}

.p-home8 .c-info__title {
  font-size: 4rem;
  font-weight: bold;
  color: #001f59;
  padding: 0 0 30px 60px;
  border-bottom: 2px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home8 .c-info__title {
    font-size: 2rem;
    padding: 0 15px 15px 15px;
    border: none;
    text-align: left;
  }
}

.p-home8 .c-info__body {
  padding: 30px 0 0 60px;
}

@media (max-width: 768px) {
  .p-home8 .c-info__body {
    padding: 15px 15px 30px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
  }
}

.p-home8 .c-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .p-home8 .c-info__content {
    display: block;
    padding-bottom: 15px;
  }
}

.p-home8 .c-info__card {
  font-size: 1.8rem;
  font-weight: bold;
  color: #001f59;
  width: 130px;
  padding-left: 20px;
  position: relative;
}

@media (max-width: 768px) {
  .p-home8 .c-info__card {
    font-size: 1.4rem;
    width: 100%;
  }
}

.p-home8 .c-info__card:before {
  content: url("../img/img-pc/home8-icon.png");
  position: absolute;
  top: -5px;
  left: 4px;
}

.p-home8 .c-info__text {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .p-home8 .c-info__text {
    font-size: 1.4rem;
    padding: 10px 0 0 20px;
  }
}

.p-home9 {
  background-color: #fffbe9;
}

.p-home9 .l-main {
  padding: 120px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home9 .l-main {
    padding: 40px 15px;
  }
}

@media (max-width: 768px) {
  .p-home9__title img {
    width: 85px;
  }
}

.p-home9__icon {
  padding: 45px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home9__icon {
    padding: 10px 0 25px 0;
  }
  .p-home9__icon img {
    width: 35px;
  }
}

.p-home9__QA {
  padding: 50px 60px;
  border: 8px solid #ececec;
  background-color: #ffffff;
  border-radius: 8px;
  text-align: left;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .p-home9__QA {
    padding: 10px 20px;
  }
}

.p-home9__QA:last-child {
  margin-bottom: 0;
}

.p-home9__Q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .p-home9__Q {
    padding-bottom: 10px;
  }
}

.p-home9 .c-Q__title {
  font-weight: bold;
  font-size: 4rem;
  color: #001f59;
}

@media (max-width: 768px) {
  .p-home9 .c-Q__title {
    font-size: 1.5rem;
  }
}

.p-home9 .c-Q__text {
  font-weight: bold;
  font-size: 2rem;
  color: #001f59;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .p-home9 .c-Q__text {
    font-size: 1.4rem;
    padding-left: 10px;
  }
}

.p-home9__A {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  border-top: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home9__A {
    padding-top: 10px;
  }
}

.p-home9 .c-A__title {
  font-weight: bold;
  font-size: 4rem;
  color: #ffa800;
}

@media (max-width: 768px) {
  .p-home9 .c-A__title {
    font-size: 1.5rem;
  }
}

.p-home9 .c-A__text {
  font-size: 2rem;
  padding-left: 20px;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .p-home9 .c-A__text {
    font-size: 1.4rem;
    margin-top: 0;
    padding-left: 10px;
  }
}

.p-home10 {
  background-color: #fff;
  opacity: 0.9;
}

.p-home10 .l-main {
  padding: 100px 0 120px 0;
}

@media (max-width: 768px) {
  .p-home10 .l-main {
    padding: 40px 15px;
  }
}

.p-home10__title img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-home10__title img {
    width: 225px;
    margin: 0 auto;
  }
}

.p-home10 .c-form__button {
  position: relative;
  top: 40px;
  z-index: 2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button {
    top: 30px;
    width: 100%;
  }
}

.p-home10 .c-form__button--two {
  overflow: auto;
  position: static;
  margin-top: 40px;
}

.p-home10 .c-form__button--two button {
  margin-right: 90px !important;
  float: right;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button--two button {
    margin-right: 0 !important;
  }
}

.p-home10 .c-form__button--two button:first-child {
  float: left;
  background-color: #fff;
  color: #0c2940;
  border: 1px solid #0c2940;
  margin-left: 120px;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button--two button:first-child {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.p-home10 .c-form__button--two button:first-child:after {
  content: none;
  position: absolute;
  left: 30px;
}

.p-home10 .c-form__button--two button:first-child:before {
  content: url("../img/img-pc/home10-step2-iconbtn.png");
  position: absolute;
  left: 30px;
}

.p-home10 .c-form__button--two button:first-child:hover {
  color: #ffa800;
  border-color: #ffa800;
  background-color: #fff;
}

.p-home10 .c-form__button--two button:first-child:hover:before {
  content: url("../img/img-pc/home10-step2-iconhover.png");
}

.p-home10 .c-form__button--two:after, .p-home10 .c-form__button--two:before {
  content: none !important;
}

.p-home10 .c-form__button--style1 {
  margin-top: 80px;
  position: relative;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button--style1 {
    margin-top: 30px;
  }
}

.p-home10 .c-form__button--style1 button {
  width: 500px !important;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button--style1 button {
    width: 100% !important;
  }
}

.p-home10 .c-form__button--style1 button:after {
  content: none !important;
}

.p-home10 .c-form__button--style1 button:before {
  content: url("../img/img-pc/home10-icon-left.png");
  position: absolute;
  left: 30px;
}

.p-home10 .c-form__button--style1:before, .p-home10 .c-form__button--style1:after {
  content: none !important;
}

.p-home10 .c-form__button button {
  width: 350px;
  height: 70px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #0c2940;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button button {
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
  }
}

.p-home10 .c-form__button button:after {
  content: url("../img/img-pc/form-icon.png");
  position: absolute;
  right: 30px;
}

.p-home10 .c-form__button button:hover {
  background-color: #ffa800;
}

.p-home10 .c-form__button:before {
  content: "";
  width: 55%;
  height: 70px;
  background-color: #0c2940;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button:before {
    height: 50px;
  }
}

.p-home10 .c-form__button:hover:before {
  width: 0;
  background-color: #ffa800;
  z-index: 10;
}

.p-home10 .c-form__button:after {
  content: "";
  width: 55%;
  height: 70px;
  background-color: #0c2940;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width: 768px) {
  .p-home10 .c-form__button:after {
    height: 50px;
  }
}

.p-home10 .c-form__button:hover:after {
  width: 0;
  background-color: #ffa800;
  z-index: 5;
}

.p-home10 .c-tab {
  border-top: 10px solid #ffa800;
}

@media (max-width: 768px) {
  .p-home10 .c-tab {
    border-top: 5px solid #ffa800;
  }
}

.p-home10 .c-tab .c-tab__title {
  padding: 30px 0;
  border-bottom: 1px solid #cccccc;
  position: relative;
}

.p-home10 .c-tab .c-tab__title img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__title {
    padding: 15px 0;
  }
  .p-home10 .c-tab .c-tab__title img {
    width: 143px;
    margin: 0 auto;
  }
}

.p-home10 .c-tab .c-tab__title .c-tab__logo {
  position: absolute;
  top: 20px;
  left: 50px;
}

.p-home10 .c-tab .l-main {
  padding: 60px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .l-main {
    padding: 30px 15px 40px 15px;
  }
}

.p-home10 .c-tab .c-tab__process img {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__process {
    padding: 0 10px;
  }
  .p-home10 .c-tab .c-tab__process img {
    width: 100%;
  }
}

.p-home10 .c-tab .c-tab__title1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #001f59;
  padding: 80px 0 30px 0;
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__title1 {
    padding: 40px 0 20px 0;
    font-size: 1.4rem;
    text-align: left;
  }
}

.p-home10 .c-tab .c-tab__title1--style1 {
  border-bottom: none;
}

.p-home10 .c-tab .c-tab__body {
  text-align: left;
}

.p-home10 .c-tab .c-tab__body p {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__body p {
    font-size: 1.4rem;
  }
}

.p-home10 .c-tab .c-tab__body table {
  padding: 30px 0 15px 0;
  line-height: 2.5;
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__body table {
    padding: 0;
    border: none;
  }
}

.p-home10 .c-tab .c-tab__body tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__body tr {
    font-size: 1.3rem;
    border-bottom: 1px solid #cccccc;
  }
}

.p-home10 .c-tab .c-tab__body td:first-child {
  width: 320px;
  color: #001f59;
  font-weight: bold;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__body td:first-child {
    width: 39%;
    padding-left: 0;
  }
}

.p-home10 .c-tab .c-tab__body td:last-child {
  width: 680px;
}

@media (max-width: 768px) {
  .p-home10 .c-tab .c-tab__body td:last-child {
    width: 61%;
  }
}

@media (max-width: 768px) {
  .p-home10 .c-tab:last-child .c-tab__title1 {
    text-align: center;
  }
}

.p-home10__icon {
  padding: 45px 0 80px 0;
}

@media (max-width: 768px) {
  .p-home10__icon {
    padding: 10px 0 30px 0;
  }
  .p-home10__icon img {
    width: 35px;
  }
}

.p-home10 .p-home10__form .c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.p-home10 .p-home10__form .c-form--border-bottom {
  border-bottom: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form--border-bottom {
    display: block;
  }
  .p-home10 .p-home10__form .c-form--border-bottom .c-form__title {
    width: 100%;
    height: auto;
  }
  .p-home10 .p-home10__form .c-form--border-bottom .c-form__content {
    width: 100%;
    padding: 0 0 15px 0;
    height: auto;
  }
}

.p-home10 .p-home10__form .c-form__title {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #cccccc;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__title {
    width: 30%;
    border: none;
    padding: 15px 0;
    display: block;
    text-align: left;
  }
}

.p-home10 .p-home10__form .c-form__title p {
  font-weight: bold;
  font-size: 1.8rem;
  color: #001f59;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__title p {
    padding-bottom: 10px;
    font-size: 1.3rem;
  }
}

.p-home10 .p-home10__form .c-form__title span {
  color: #fff;
  background-color: #ffa800;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4px 4px 2px 4px;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__title span {
    font-size: 0.9rem;
  }
}

.p-home10 .p-home10__form .c-form__title--style1 {
  height: 170px;
}

.p-home10 .p-home10__form .c-form__content {
  width: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content {
    width: 70%;
  }
}

.p-home10 .p-home10__form .c-form__content--style1 {
  height: 170px;
}

.p-home10 .p-home10__form .c-form__content--style1 .c-input {
  width: 100%;
}

.p-home10 .p-home10__form .c-form__content--style1 textarea {
  width: 100%;
  height: 125px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0 0 12px;
}

.p-home10 .p-home10__form .c-form__content--style1 textarea:focus {
  background-color: #f3f3f3;
}

.p-home10 .p-home10__form .c-form__content .c-input {
  font-size: 1.8rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content .c-input {
    width: 100%;
    font-size: 1.3rem;
  }
}

.p-home10 .p-home10__form .c-form__content .c-input input {
  width: 400px;
  height: 30px;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content .c-input input {
    width: 100%;
    font-size: 1.3rem;
  }
}

.p-home10 .p-home10__form .c-form__content .c-input input:focus {
  background-color: #f3f3f3;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content .c-input--style1 {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p-home10 .p-home10__form .c-form__content .c-input--style1 input {
    margin-right: 10px;
  }
}

.p-home10 .p-home10__form .c-form__content .c-input--style1 input {
  width: 50px;
}

.p-home10 .p-home10__form .c-form__content .c-input--radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-home10 .p-home10__form .c-form__content .c-input--radio input {
  width: 15px;
}

.p-home10 .p-home10__form .c-form__content .c-input--radio input:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: 6px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  border: 2px solid white;
}

.p-home10 .p-home10__form .c-form__content .c-input--radio input:checked:after {
  width: 12px;
  height: 12px;
  border-radius: 15px;
  top: 6px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  border: 2px solid white;
}

.p-home10 .p-home10__form .c-form__content .c-input--radio input:last-child {
  margin-left: 20px;
}

.p-home10 .p-home10__form .c-form__content .c-input--select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content .c-input--select {
    display: block;
    text-align: left;
  }
  .p-home10 .p-home10__form .c-form__content .c-input--select p {
    padding-bottom: 10px;
  }
}

.p-home10 .p-home10__form .c-form__content .c-input--select select {
  margin-left: 30px;
  width: 60px;
  height: 30px;
  padding-left: 5px;
}

@media (max-width: 768px) {
  .p-home10 .p-home10__form .c-form__content .c-input--select select {
    float: left;
    margin-left: 5px;
  }
}

.c-footer {
  background-color: #f9f9f9;
}

.c-footer .l-main {
  padding: 15px 0 20px 0;
}

.c-footer p {
  color: #222222;
  font-size: 1.4rem;
}

@media (max-width: 768px) {
  .c-footer p {
    font-size: 1rem;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible !important;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-8%, 0, 0);
            transform: translate3d(-8%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-8%, 0, 0);
            transform: translate3d(-8%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible !important;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(8%, 0, 0);
            transform: translate3d(8%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(8%, 0, 0);
            transform: translate3d(8%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  visibility: visible !important;
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
}
