// brand 1
// -------------------------
.p-brand__head{
	.l-main{
		padding: 58px 0 100px 0;
	}

	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		padding: 10px 0 50px 0;
	}

	.p-brand__menu{
		display: flex;
		justify-content: space-between;
		font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
		padding-bottom: 50px;
		a{
			width: 370px;
			height: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #888888;
			font-weight: bold;
			font-size: 1.6rem;
			color: #ffffff;
		}
		.is-current{
			background-color: #51c571;
		}
	}

	.p-brand__text{
		font-size: 1.5rem;
		text-align: left;
		p{
			line-height: 1.6;
			padding: 15px 0 25px 0;
		}
	}

	.p-brand__title{
		font-size: 1.6rem;
		font-weight: bold;
		p{
			line-height: 1;
			padding: 0;
		}
	}
}

// Brand Content
// ------------------------------
.p-brand__content{
	.l-main{
		padding-bottom: 100px;
	}

	.c-title4{
		padding: 	10px 0 50px 0;
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
	}

	.c-shikaoi__autoplay{
		width: 560px;
		float: right;
		margin-left: 	40px;
	}

	.c-shikaoi__frame{
		left: auto;
		right: 18px;
		top: 18px;
		p{
			width: 	138px;
			padding: 	2px 0;
		}
	}

	.c-slider__content{
		.c-slider__text{
			height: auto;
			.c-text__title{
				font-size: 1.6rem;
				font-weight: bold;
			}
		}

		.slick-dots{
			bottom: auto;
		}
	}
}