// Page community
// -----------------------
.p-community{
	.c-header{
		.l-main{
			padding: 10px 0 93px 0;
		}
	}
}

// Youth
// -----------------------
.c-community{
	.l-main{
		padding: 0 0 125px 0;
	}

	.c-title4{
		padding:10px 0 50px 0;
	}

	.c-text__title{
		font-size: 1.6rem;
		font-weight: bold;
	}
	.c-text__content{
		font-size: 1.4rem;
	}
	.c-slider__text{
		position: relative;
	}
	.c-com__button{
		position: absolute;
		bottom: 0;
		width: 100%;
		a{
			width: 100%;
			height: 30px;
			display: flex;
			font-size: 1.5rem;
			color: #ffffff;
			background-color: #888888;
			align-items: center;
			justify-content: center;
		}

		&--style1{
			bottom: 50px;
		}

		&--style2{
			a{
				background-color: #e2750c;
			}
		}
	}

	.c-slider__content{
		@extend %cf;
		position: relative;
	}
	.c-shikaoi__frame{
			p{
				padding: 3px 28px 2px 28px;
			}
		}
	.slick-dots{
		width: 560px !important;
	}

	.c-shikaoi__autoplay{
		width: 560px;
		float: left;
	}
}