// Home Header
// ----------------------------
.p-home__header{
	// img{
	// 	display: block;
	// 	width: 100% !important;
	// 	opacity: 1 !important;
	// }
	.c-header__text{
		font-size: 2.8rem;
		font-weight: bold;
		color: #fff;
		position: absolute;
		top: 245px;
		right: 180px;
		line-height: 1.6;
		text-shadow: 2px 4px 4px #000000;
	}
}

// Component page index brand and community
.c-home__shikaoi{
	.l-main{
		padding: 0 0 100px 0;
	}

	.c-title2{
		padding: 10px 0 50px 0;
	}

	.c-shikaoi__img{
		position: relative;
	}
	.c-shikaoi__frame{
		position: absolute;
		top: 10px;
		left: 8px;
		width: 122px;
		height: 27px;
		background-color: #1d2088;
		display: flex;
		align-items: center;
		justify-content: center;
		p{
			color: #ffffff;
			font-size: 1.6rem;
			padding: 2px 16px 1px 16px;;
			border: 1px solid #e4e5f1;
		}
	}

	.c-shikaoi__content{
		display: flex;
		justify-content: space-between;
	}
	.c-shikaoi__imgtext{
		width: 370px;
	}
	.c-shikaoi__text1{
		font-size: 1.6rem;
		font-weight: bold;
		padding: 10px 0 12px 0;
	}
	.c-shikaoi__text2{
		font-size: 1.3rem;
		line-height: 1.6;
	}
}


// Home News - Topics
// ----------------------------
.p-home__news{
	text-align: left;
	.l-main{
		padding: 50px 0 100px 0;
	}
	.c-news__title{
		font-family: Arial, sans-serif;
		color: #bd0000;
		font-size: 1.1rem;
		font-weight: bold;
		padding-bottom: 8px;
	}

	.c-news__text{
		display: flex;
		align-items: flex-end;
		.c-news__text1{
			padding-right: 18px;
		}
	}

	.c-topics{
		padding-top: 15px;
	}

	.c-topics__content{
		display: flex;
		align-items: center;
		height: 45px;
		border-top: 1px dashed #cfcfcf;
	}
	.c-topics__content:last-child{
		border-bottom: 1px dashed #cfcfcf;
	}

	.c-topics__title{
		height: 24px;
		width: 75px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 27px 0 17px;
		background-color: #f78d6c;
		&--bg1{
			background-color: #51c571;
		}
		&--bg2{
			background-color: #68b4ce;
		}
	}

	.c-topics__day{
		font-family: Arial, sans-serif;
		color: #333333;
		font-size: 1.4rem;
	}
}

// Home Photo Gallery
// ----------------------------
.p-home__gallery{
	.l-container{
		padding: 0 0 100px 0;
	}

	.c-title2{
		padding: 15px 0 45px 0;
	}

	.c-img:not(:last-child){
		padding-bottom: 50px;
	}
}

.p-home__info{
	.l-main{
		padding: 0 0 100px 0;
	}

	.c-title2{
		padding: 15px 0 45px 0;
	}

	.c-info__content{
		display: flex;
		justify-content: space-between;
		padding: 30px 0;
		border-top: 1px solid #b8b8b8;
	}
	.c-info__img{
		width: 370px;
		border: 1px solid #cccccc;
	}
	.c-info__text{
		width: 765px;
		text-align: left;
		position: relative;
		font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	}
	.c-info__icon{
		position: absolute;
		top: 50%;
		right: 45px;
	}
	.c-info__title1{
		font-size: 1.3rem;
		font-weight: bold;
		color: #888888;
		display: flex;
		align-items: center;
	}
	.c-new{
		padding: 4px 14px;
		background-color: #bd0000;
		color: #fff;
		font-size: 1.1rem;
		font-family: Arial, sans-serif;
		font-weight: normal;
		margin-left: 45px;
	}
	.c-info__title2{
		font-size: 1.8rem;
		font-weight: bold;
		padding: 15px 0 20px 0;
	}
	.c-content__text{
		font-size: 1.6rem;
		line-height: 1.8;
	}
}