// page member
// ------------------------
.p-member__body{
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	.l-main{
		padding: 58px 0 40px 0;
	}
	.c-title4{
		padding: 10px 0 50px 0;
		font-size: 2rem;
		font-family: "Times New Roman", Times, serif;
	}

	.p-member__title1{
		font-size: 1.6rem;
		text-align: left;
	}

	.p-member__title2{
		font-size: 2rem;
		text-align: left;
		font-weight: bold;
		padding: 12px 0 20px 0;
	}

	.c-slider__content{
		@extend %cf;
		position: relative;
	}
	.c-shikaoi__frame{
			p{
				padding: 3px 28px 2px 28px;
			}
		}
	.slick-dots{
		width: 560px !important;
	}

	.c-slider__text{
		p{
			padding-bottom: 0;
		}
	}

	.c-shikaoi__autoplay{
		width: 560px;
		float: left;
	}

	.c-slider__content{
		padding-bottom: 60px;
	}
}