// Page outline
// -------------------------------
.p-outline__greeting{
	.l-main{
		padding: 60px 0 105px 0;
	}
	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-greeting__content{
		display: flex;
		justify-content: space-between;
		.c-greeting__img{
			width: 370px;
			img{
				width: 100%;
			}
		}

		.c-greeting__text{
			width: 765px;
			text-align: left;
			font-size: 1.5rem;
			line-height: 1.8;
			p{
				padding-bottom: 10px;
			}
		}
		.c-greeting__signature{
			text-align: right;
			font-size: 1.6rem;
			font-weight: bold;
			padding-top: 10px;
		}
	}
}

// JA Platform
// -------------------------------
.p-outline__JA{
	.l-main{
		padding-bottom: 100px;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-JA__img{
		position: relative;
	}

	.c-shikaoi__frame{
		position: absolute;
		width: 145px;
		height: 27px;
		p{
	    padding: 2px 18px 1px 18px;
		}
	}

	.c-JA__text{
		text-align: left;
		font-size: 1.5rem;
		p{
			line-height: 1.7;
			padding-top: 30px;
		}
	}
}

// Basic Rules
// -------------------------------
.p-outline__rule{
	.l-main{
		padding-bottom: 100px;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-rule__text{
		text-align: left;
		font-size: 1.5rem;
		line-height: 1.8;
		padding-bottom: 30px;
	}

	.c-rule__content{
		text-align: left;
		padding: 30px 0 10px 10px;
		font-size: 1.8rem;
		font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	}

	.c-content__title{
		font-weight: bold;
		padding-bottom: 18px;
	}

	.c-content__text{
		line-height: 1.6;
	}
}

// Ozganization
// -------------------------------
.p-outline__orga{
	.l-main{
		padding-bottom: 100px;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-orga__content{
		display: flex;
		font-size: 1.5rem;
	}

	.c-orga__text{
		width: 580px;
		padding-left: 10px;
		text-align: left;
		p{
			margin-bottom: 15px;
			line-height: 1.6;
		}
	}
}

// Chart
// -------------------------------
.p-outline__chart{
	.l-main{
		padding-bottom: 100px;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-outline__img{
		position: relative;
	}

	.c-shikaoi__frame{
		width: 145px;
		p{
	    padding: 2px 10px 1px 10px;
		}
	}
}

// Recruitment
// -------------------------------
.p-outline__recruitment{
	.l-main{
		padding-bottom: 100px
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-recruitment__content{
		display: flex;
		justify-content: space-between;
	}
	.c-recruitment__text{
		font-size: 1.5rem;
		text-align: left;
		line-height: 1.6;
		a{
			padding-bottom: 15px;
		}
		a:after{
			content: url('../img/outline/icon-text.png');
			position: relative;
			top: 2px;
		}
	}

	.c-recruitment__img{
		position: relative;
	}
	.c-shikaoi__frame{
		width: 182px;
		top: 20px;
		right: 20px;
		left: auto;
		p{
	    padding: 2px 45px 1px 45px;
		}
	}
}