// page regular
// -----------------------
.p-regular__content{
	.l-main{
		padding: 58px 0 100px 0;;
	}

	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		padding: 10px 0 50px 0;
	}

	.p-regular__table{
		table{
			font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif !important;
			border-collapse: collapse;
			box-sizing: border-box;
			text-align: left;
			font-size: 1.6rem;
		}
		td{
			 border: 1px solid #777777;
			 padding: 28px 0 26px 30px;
		}
		.c-text__style{
			line-height: 1.6;
		}
		td:first-child{
			background-color: #e6e6e6;
			width: 235px;
			font-weight: bold;
			vertical-align: top;
		}
		td:last-child{
			width: 925px;
		}
	}
}