// page recipe
// --------------------------------

// recipe header
// --------------------------------
.p-recipe__header{
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	.l-main{
		padding: 58px 0 40px 0;
	}

	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		padding: 10px 0 50px 0;
	}

	.p-recipe__title1{
		font-size: 1.6rem;
		color: #e2750c;
		text-align: left;
	}

	.p-recipe__title2{
		font-size: 2rem;
		font-weight: bold;
		color: #e2750c;
		text-align: left;
		padding: 10px 0 20px 0;
	}

	.p-recipe__imgtable{
		display: flex;
		justify-content: space-between;
	}

	//  recipe img
	// ----------------
	.p-recipe__img{
		width: 510px;
		text-align: left;
		img{
			width: 100%;
		}

		.c-img__point{
			width: 125px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			font-weight: bold;
			font-size: 1.4rem;
			background-color: #e2750c;
			margin: 15px 0 12px 0;
		}
		.c-img__text{
			font-size: 1.4rem;
			line-height: 1.5;
		}
	}

	// recipe title
	// ----------------
	.p-recipe__table{
		width: 624px;
		.c-title{
			font-weight: bold;
			background-color: #e6e6e6;
		}
		table{
			border-collapse: collapse;
		}
		td{
			border: 1px solid #d8d8d8;
			box-sizing: border-box;
			text-align: left;
			padding: 7px;
			height: 30px;
			font-size: 1.4rem;
		}
		td:first-child{
			width: 253px;
		}
		td:nth-child(2){
			width: 155px;
		}
		td:last-child{
			width: 216px;
		}
	}
}

// recipe step
// --------------------------------
.p-recipe__step{
	.l-main{
		padding: 0 0 60px 0;
	}

	.c-step__title{
		background-color: #f6f0d5;
		padding: 15px 0;
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 30px;
	}

	.c-step__container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.c-step__content{
		width: 345px;
		height: 155px;
		text-align: left;
		.c-step__name{
			color: #e2750c;
			font-size: 1.6rem;
			font-weight: bold;
			font-family: Arial, sans-serif;
			padding-bottom: 10px;
		}

		.c-step__text{
			font-size: 1.4rem;
			line-height: 1.6;
		}
	}
}

// recipe  archive
.p-recipe__archive{
	.l-main{
		padding-bottom: 77px;
	}
	.c-title4{
		font-family: "Times New Roman", Times, serif;
		font-size: 2rem;
		padding: 10px 0 50px 0;
	}

	.c-archive__title{
		background-color: #f6f0d5;
		padding: 15px 0;
		font-size: 1.6rem;
		font-weight: bold;
		margin-bottom: 20px;
		&--style1{
			margin-top: 75px;
		}
	}

	.c-archive__content{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.c-archive__imgtext{
		width: 220px;
		text-align: left;
		border: 1px solid #d5d5d5;
		margin-bottom: 23px;
		.c-archive__img{
			width: 220px;
			img{
				width: 100%;
			}
		}

		.c-archive__text{
			font-weight: bold;
			font-size: 1.3rem;
			padding: 12px 12px 15px 12px;
			line-height: 1.5;
		}
	}
}