// page Recruit
// -------------------------------

.p-recruit__agric{
	.l-main{
		padding: 58px 0 100px 0;
	}

	.c-title4{
		padding: 10px 0 50px 0;
		font-size: 2rem;
		font-family: "Times New Roman", Times, serif;
	}

	.p-recruit__title{
		font-size: 1.6rem;
		font-weight: bold;
		text-align: left;
	}
	.p-recruit__text{
		font-size: 1.5rem;
		text-align: left;
		padding: 20px 0 28px 0;
		line-height: 1.6;
	}
	.p-recruit__text:last-child{
		padding-bottom: 0;
	}
}

// recruit content
// -------------------------------
.c-recruit__content{
	font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
	text-align: left;
	.l-main{
		padding: 0 0 100px 0;
	}

	.c-content__title{
		font-size: 1.8rem;
		font-weight: bold;
	}

	.c-content__text{
		font-size: 1.5rem;
		line-height: 1.6;
		padding: 20px 0 30px 0;
	}

	.c-content__links{
		display: flex;
	}
	.c-content_button{
		a{
			width: 100px;
			height: 22px;
			font-size: 1.3rem;
			margin-right: 15px;
			background-color: #555555;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #ffffff;
		}
	}

	.c-content__imgtable{
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
	}

	.c-content__img{
		width: 560px;
		position: relative;

		.c-shikaoi__frame{
			left: auto;
			right: 18px;
			top: 18px;
			width: 182px;
		}
	}

	.c-content__table{
		width: 560px;
		height: 370px;
	}

	.c-table__body{
		display: flex;
		height: 39px;
		border-top: 1px solid #777777;
		&--style1{
			height: 90px;
		}
	}
	.c-table__body:last-child{
		border-bottom: 1px solid #777777;
	}

	.c-table__title{
		font-size: 1.3rem;
		font-weight: bold;
		width: 90px;
		padding-left: 10px;
		box-sizing: border-box;
		background-color: #eaf1eb;
		align-items: center;
		display: flex;

	}

	.c-table__text{
		font-size: 1.3rem;
		width: 470px;
		align-items: center;
		display: flex;
		padding-left: 10px;
		box-sizing: border-box;
	}

	.c-content__thumbnails{
		padding-top: 50px;
		display: flex;
		justify-content: space-between;
	}
	.c-thumbnail{
		position: relative;
		width: 270px;
		height: 200px;
		img{
			width: 100%;
			height: 100%;
		}
		.c-shikaoi__frame{
			width: 184px;
			height: 28px;
			top: 10px;
			left: 14px;
			p{
				padding: 3px 17px 2px 17px;
			}
		}
	}
}