// Page shikaoi
// --------------------------------
.p-shikaoi__agric{
	.l-main{
		padding: 58px 0 100px 0;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-agric__text{
		text-align: left;
		line-height: 1.6;
		font-size: 1.5rem;

		p{
			padding-top: 28px;
		}
		p:last-child{
			padding-top: 10px;
		}
		
		.c-agric__after{
			padding: 10px 0;
			display: flex;
		}
		.c-agric__after:after{
			content: url('../img/shikaoi/icon-text.png');
			position: relative;
			top: 2px;
			left: 4px;
		}
	}
}

// Business
// --------------------------------
.p-shikaoi__business{
	.l-main{
		padding-bottom: 80px;
	}

	.c-title4{
		padding: 10px 0 50px 0;
	}

	.c-slider__content{
		@extend %cf;
		position: relative;
	}

	.slick-dots{
		width: 560px !important;
	}

	.c-shikaoi__autoplay{
		width: 560px;
		float: left;
	}
}