// page topics
// -------------
.p-topics__content{
	.l-main{
		padding: 65px 0 50px 0;
	}
	.c-title4{
		padding: 10px 0 100px 0;
	}
	.c-shikaoi__autoplay{
		width: 560px;
		float: left;
	}
	.c-slider__text{
		line-height: 1;
		p{
			padding-bottom: 0;
		}
	}

	.c-text__title1{
		display: flex;
		align-items: center;
		width: 100%;
		height: 24px;
		background-color: #51c571;
		color: #fff;
		font-size: 1.1rem;
		padding: 0 5px;
		box-sizing: border-box;
		justify-content: space-between;
		&--style1{
			background-color: #f78d6c;
		}
	}

	.c-slider__content{
		padding-bottom: 50px;
	}

	.c-text__title2{
		font-size: 1.6rem;
		font-weight: bold;
		padding: 30px 0 20px 0;
	}
	.c-text__title3{
		font-size: 1.3rem;
		font-weight: bold;
		padding-top: 20px;
	}
	.c-text__content{
		font-size: 1.3rem;
		line-height: 1.6;
	}
	.c-shikaoi__frame{
		width: 145px;
		p{
			padding: 3px 10px 2px 10px;
		}
	}

	.p-topics__text{
		font-size: 1.3rem;
		text-align: left;
		line-height: 1.5;
		margin-top: -40px;
	}
}