// Page workplace
// ---------------------------
.p-workplace__body{
	.l-main{
		padding: 83px 0 50px 0;
	}

	.c-title4{
		padding: 10px 0 50px 0;
		font-family: "Times New Roman", Times, serif;
	}

	.p-workplace__content{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.p-workplace__imgtext{
		width: 270px;
		height: 340px;
		text-align: left;
		position: relative;
	}

	.c-shikaoi__frame{
		top: 15px;
		left: 15px;
		width: 122px;
		height: 28px;
		p{
			padding: 2px 16px;
		}
	}

	.c-text__title{
		font-size: 1.6rem;
		font-weight: bold;
		padding: 14px 0;
	}

	.c-text_content{
		font-size: 1.3rem;
		line-height: 1.5;
	}
}