@charset "UTF-8";
.c-slider__content:after, .p-shikaoi__business .c-slider__content:after, .c-community .c-slider__content:after, .p-member__body .c-slider__content:after {
  display: block;
  clear: both;
  content: "";
}

.c-header {
  text-align: left;
}

.c-header .l-main {
  padding: 10px 0 35px 0;
}

.c-header__logo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 35px;
}

.c-header .c-header__logo {
  width: 370px;
}

.c-header .c-header__nav {
  width: 790px;
  position: relative;
}

.c-header .c-header__nav span {
  background: #88888888;
  height: 4px;
  display: block;
  position: absolute;
  width: 50px;
  bottom: 2px;
  left: 0;
}

.c-header .c-header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.c-header .c-header__nav a {
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5px;
}

.c-header .c-header__nav .c-hover {
  display: none;
}

.c-header .c-header__nav li:hover .c-hover {
  display: block;
}

.c-header .c-header__nav li:hover .c-normal {
  display: none;
}

.c-header .c-header__nav .is-current a {
  border-bottom: 4px solid #88888888;
}

.c-header .c-header__nav .is-current .c-hover {
  display: block;
}

.c-header .c-header__nav .is-current .c-normal {
  display: none;
}

.c-footer {
  border-top: 1px solid #555555;
}

.c-footer .l-main {
  padding: 25px 0;
}

.c-footer .c-footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer .c-footer__button {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-footer .c-footer__button a {
  text-decoration: none;
  width: 160px;
  height: 40px;
  margin-right: 20px;
  background-color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-title1 {
  font-size: 2.4rem;
  font-weight: bold;
}

.c-title2 {
  font-family: Times New Roman, sans-serif;
  font-size: 2rem;
  color: #999999;
}

.c-title3 {
  font-size: 3.2rem;
  font-family: "Hiragino Mincho ProN", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",  "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-title4 {
  font-size: 1.6rem;
  color: #999999;
}

.c-title__text .l-main {
  padding: 58px 0 100px 0;
}

.c-title__text .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px 0 50px 0;
}

.c-title__text .c-text {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
}

.c-title__text .c-text p {
  padding-bottom: 25px;
}

.c-title__text a {
  padding-top: 10px;
}

.c-title__text .c-link {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 10px;
}

.c-title__text .c-link:after {
  content: url(../img/outline/icon-text.png);
  position: relative;
  top: 2px;
}

.c-title__text .c-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-title__text .c-links-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
  height: 30px;
  background-color: #dddddd;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.c-title__text .c-links-list a:last-child {
  opacity: 0;
}

.c-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-access .c-access__map {
  width: 580px;
  height: 415px;
}

.c-access .c-access__map iframe {
  width: 580px;
  height: 415px;
}

.c-access .c-access__info {
  font-size: 1.5rem;
  padding-left: 20px;
  text-align: left;
}

.c-access .c-access__info .c-access__title {
  font-weight: bold;
}

.c-access .c-access__info .c-access__text {
  padding: 20px 0 30px 0;
  line-height: 1.6;
}

.c-dots-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-dots-list .c-dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: #22963c;
}

.c-shikaoi__frame {
  position: absolute;
  top: 32px;
  left: 32px;
  width: 147px;
  height: 27px;
  background-color: #1d2088;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  z-index: 100;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-shikaoi__frame p {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 3px 20px 2px 20px;
  border: 1px solid #e4e5f1;
}

.c-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.c-slider__text {
  width: 560px;
  height: 370px;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.7;
}

.c-slider__text p {
  padding-bottom: 12px;
}

.c-table {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-table .c-table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-table .c-table__title {
  width: 228px;
  height: 27px;
  background-color: #e6e6e6;
  font-size: 1.2rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-bottom: none;
}

.c-table .c-table__title--style1 {
  height: 181px;
  border-bottom: 1px solid #d6d6d6;
}

.c-table .c-table__text {
  width: 332px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.259rem;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
}

.c-table .c-table__text--style1 {
  height: 181px;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.c-table .c-table__text1 {
  width: 140px;
}

.c-table .c-table__text2 {
  width: 50px;
  border-left: 1px solid #d6d6d6;
  border-right: 1px solid #d6d6d6;
  background-color: #e6e6e6;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-table .c-table__text3 {
  width: 142px;
  padding-left: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-gallery__header .l-main {
  padding: 58px 0 50px 0;
}

.c-gallery__header .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 2rem;
  padding: 10px 0 50px 0;
}

.c-gallery__header .p-gallery__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
}

.c-gallery__header .p-gallery__menu .is-current {
  color: #888888;
}

.c-gallery__header .p-gallery__menu a {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 50px;
}

.c-gallery__photo {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-gallery__photo .l-main {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-gallery__photo .c-gallery__img {
  width: 266px;
  margin-bottom: 50px;
}

.c-gallery__photo .c-gallery__img img {
  width: 100%;
}

.c-gallery__photo .c-gallery__img--book, .c-gallery__photo .c-gallery__img--woman, .c-gallery__photo .c-gallery__img--youth, .c-gallery__photo .c-gallery__img--senior {
  background-color: #98d0cd;
  position: relative;
  height: 155px;
  font-family: "Hiragino Mincho ProN", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",  "HG明朝E", "ＭＳ Ｐ明朝", serif;
}

.c-gallery__photo .c-gallery__img--book img, .c-gallery__photo .c-gallery__img--woman img, .c-gallery__photo .c-gallery__img--youth img, .c-gallery__photo .c-gallery__img--senior img {
  width: auto;
}

.c-gallery__photo .c-gallery__img--book .c-days, .c-gallery__photo .c-gallery__img--woman .c-days, .c-gallery__photo .c-gallery__img--youth .c-days, .c-gallery__photo .c-gallery__img--senior .c-days {
  float: left;
  padding: 4px 55px 50px 20px;
}

.c-gallery__photo .c-gallery__img--book p, .c-gallery__photo .c-gallery__img--woman p, .c-gallery__photo .c-gallery__img--youth p, .c-gallery__photo .c-gallery__img--senior p {
  font-size: 1.7rem;
  font-weight: bold;
  border-bottom: 1px solid #333834;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 62px 0 3px 0;
  margin-left: 20px;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.c-gallery__photo .c-gallery__img--book a:hover p, .c-gallery__photo .c-gallery__img--woman a:hover p, .c-gallery__photo .c-gallery__img--youth a:hover p, .c-gallery__photo .c-gallery__img--senior a:hover p {
  opacity: .5;
}

.c-gallery__photo .c-gallery__img--book .c-photo__avatar, .c-gallery__photo .c-gallery__img--woman .c-photo__avatar, .c-gallery__photo .c-gallery__img--youth .c-photo__avatar, .c-gallery__photo .c-gallery__img--senior .c-photo__avatar {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 103px;
  height: 145px;
}

.c-gallery__photo .c-gallery__img--woman {
  background-color: #ddbccf;
}

.c-gallery__photo .c-gallery__img--youth {
  background-color: #a6ceff;
}

.c-gallery__photo .c-gallery__img--senior {
  background-color: #c6a993;
}

.c-gallery__photo .c-gallery__caption {
  width: 266px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e6e6e6;
}

.c-sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.c-sitemap .c-sitemap__content {
  width: 550px;
  text-align: left;
}

.c-sitemap .c-sitemap__title {
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #939393;
  padding-bottom: 10px;
}

.c-sitemap .c-sitemap__title a:after {
  content: url("../img/index/sitemap-icon.png");
  position: relative;
  top: 2px;
  left: 10px;
}

.c-sitemap .c-sitemap__text {
  font-size: 1.6rem;
  padding-top: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 235px;
}

.c-sitemap .c-sitemap__text li {
  line-height: 2;
}

.c-sitemap .c-sitemap__text li ul {
  padding: 0 0 5px 30px;
}

.c-sitemap .c-sitemap__text--style1 {
  height: auto !important;
  padding-bottom: 50px;
}

.p-home__header .c-header__text {
  font-size: 2.8rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 245px;
  right: 180px;
  line-height: 1.6;
  text-shadow: 2px 4px 4px #000000;
}

.c-home__shikaoi .l-main {
  padding: 0 0 100px 0;
}

.c-home__shikaoi .c-title2 {
  padding: 10px 0 50px 0;
}

.c-home__shikaoi .c-shikaoi__img {
  position: relative;
}

.c-home__shikaoi .c-shikaoi__frame {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 122px;
  height: 27px;
  background-color: #1d2088;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-home__shikaoi .c-shikaoi__frame p {
  color: #ffffff;
  font-size: 1.6rem;
  padding: 2px 16px 1px 16px;
  border: 1px solid #e4e5f1;
}

.c-home__shikaoi .c-shikaoi__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-home__shikaoi .c-shikaoi__imgtext {
  width: 370px;
}

.c-home__shikaoi .c-shikaoi__text1 {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 0 12px 0;
}

.c-home__shikaoi .c-shikaoi__text2 {
  font-size: 1.3rem;
  line-height: 1.6;
}

.p-home__news {
  text-align: left;
}

.p-home__news .l-main {
  padding: 50px 0 100px 0;
}

.p-home__news .c-news__title {
  font-family: Arial, sans-serif;
  color: #bd0000;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 8px;
}

.p-home__news .c-news__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.p-home__news .c-news__text .c-news__text1 {
  padding-right: 18px;
}

.p-home__news .c-topics {
  padding-top: 15px;
}

.p-home__news .c-topics__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  border-top: 1px dashed #cfcfcf;
}

.p-home__news .c-topics__content:last-child {
  border-bottom: 1px dashed #cfcfcf;
}

.p-home__news .c-topics__title {
  height: 24px;
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 27px 0 17px;
  background-color: #f78d6c;
}

.p-home__news .c-topics__title--bg1 {
  background-color: #51c571;
}

.p-home__news .c-topics__title--bg2 {
  background-color: #68b4ce;
}

.p-home__news .c-topics__day {
  font-family: Arial, sans-serif;
  color: #333333;
  font-size: 1.4rem;
}

.p-home__gallery .l-container {
  padding: 0 0 100px 0;
}

.p-home__gallery .c-title2 {
  padding: 15px 0 45px 0;
}

.p-home__gallery .c-img:not(:last-child) {
  padding-bottom: 50px;
}

.p-home__info .l-main {
  padding: 0 0 100px 0;
}

.p-home__info .c-title2 {
  padding: 15px 0 45px 0;
}

.p-home__info .c-info__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  border-top: 1px solid #b8b8b8;
}

.p-home__info .c-info__img {
  width: 370px;
  border: 1px solid #cccccc;
}

.p-home__info .c-info__text {
  width: 765px;
  text-align: left;
  position: relative;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-home__info .c-info__icon {
  position: absolute;
  top: 50%;
  right: 45px;
}

.p-home__info .c-info__title1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #888888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-home__info .c-new {
  padding: 4px 14px;
  background-color: #bd0000;
  color: #fff;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin-left: 45px;
}

.p-home__info .c-info__title2 {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 15px 0 20px 0;
}

.p-home__info .c-content__text {
  font-size: 1.6rem;
  line-height: 1.8;
}

.p-outline__greeting .l-main {
  padding: 60px 0 105px 0;
}

.p-outline__greeting .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__greeting .c-greeting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-outline__greeting .c-greeting__content .c-greeting__img {
  width: 370px;
}

.p-outline__greeting .c-greeting__content .c-greeting__img img {
  width: 100%;
}

.p-outline__greeting .c-greeting__content .c-greeting__text {
  width: 765px;
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8;
}

.p-outline__greeting .c-greeting__content .c-greeting__text p {
  padding-bottom: 10px;
}

.p-outline__greeting .c-greeting__content .c-greeting__signature {
  text-align: right;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 10px;
}

.p-outline__JA .l-main {
  padding-bottom: 100px;
}

.p-outline__JA .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__JA .c-JA__img {
  position: relative;
}

.p-outline__JA .c-shikaoi__frame {
  position: absolute;
  width: 145px;
  height: 27px;
}

.p-outline__JA .c-shikaoi__frame p {
  padding: 2px 18px 1px 18px;
}

.p-outline__JA .c-JA__text {
  text-align: left;
  font-size: 1.5rem;
}

.p-outline__JA .c-JA__text p {
  line-height: 1.7;
  padding-top: 30px;
}

.p-outline__rule .l-main {
  padding-bottom: 100px;
}

.p-outline__rule .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__rule .c-rule__text {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.8;
  padding-bottom: 30px;
}

.p-outline__rule .c-rule__content {
  text-align: left;
  padding: 30px 0 10px 10px;
  font-size: 1.8rem;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-outline__rule .c-content__title {
  font-weight: bold;
  padding-bottom: 18px;
}

.p-outline__rule .c-content__text {
  line-height: 1.6;
}

.p-outline__orga .l-main {
  padding-bottom: 100px;
}

.p-outline__orga .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__orga .c-orga__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.p-outline__orga .c-orga__text {
  width: 580px;
  padding-left: 10px;
  text-align: left;
}

.p-outline__orga .c-orga__text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.p-outline__chart .l-main {
  padding-bottom: 100px;
}

.p-outline__chart .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__chart .c-outline__img {
  position: relative;
}

.p-outline__chart .c-shikaoi__frame {
  width: 145px;
}

.p-outline__chart .c-shikaoi__frame p {
  padding: 2px 10px 1px 10px;
}

.p-outline__recruitment .l-main {
  padding-bottom: 100px;
}

.p-outline__recruitment .c-title4 {
  padding: 10px 0 50px 0;
}

.p-outline__recruitment .c-recruitment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-outline__recruitment .c-recruitment__text {
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.6;
}

.p-outline__recruitment .c-recruitment__text a {
  padding-bottom: 15px;
}

.p-outline__recruitment .c-recruitment__text a:after {
  content: url("../img/outline/icon-text.png");
  position: relative;
  top: 2px;
}

.p-outline__recruitment .c-recruitment__img {
  position: relative;
}

.p-outline__recruitment .c-shikaoi__frame {
  width: 182px;
  top: 20px;
  right: 20px;
  left: auto;
}

.p-outline__recruitment .c-shikaoi__frame p {
  padding: 2px 45px 1px 45px;
}

.p-shikaoi__agric .l-main {
  padding: 58px 0 100px 0;
}

.p-shikaoi__agric .c-title4 {
  padding: 10px 0 50px 0;
}

.p-shikaoi__agric .c-agric__text {
  text-align: left;
  line-height: 1.6;
  font-size: 1.5rem;
}

.p-shikaoi__agric .c-agric__text p {
  padding-top: 28px;
}

.p-shikaoi__agric .c-agric__text p:last-child {
  padding-top: 10px;
}

.p-shikaoi__agric .c-agric__text .c-agric__after {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-shikaoi__agric .c-agric__text .c-agric__after:after {
  content: url("../img/shikaoi/icon-text.png");
  position: relative;
  top: 2px;
  left: 4px;
}

.p-shikaoi__business .l-main {
  padding-bottom: 80px;
}

.p-shikaoi__business .c-title4 {
  padding: 10px 0 50px 0;
}

.p-shikaoi__business .c-slider__content {
  position: relative;
}

.p-shikaoi__business .slick-dots {
  width: 560px !important;
}

.p-shikaoi__business .c-shikaoi__autoplay {
  width: 560px;
  float: left;
}

.p-community .c-header .l-main {
  padding: 10px 0 93px 0;
}

.c-community .l-main {
  padding: 0 0 125px 0;
}

.c-community .c-title4 {
  padding: 10px 0 50px 0;
}

.c-community .c-text__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.c-community .c-text__content {
  font-size: 1.4rem;
}

.c-community .c-slider__text {
  position: relative;
}

.c-community .c-com__button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.c-community .c-com__button a {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #888888;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-community .c-com__button--style1 {
  bottom: 50px;
}

.c-community .c-com__button--style2 a {
  background-color: #e2750c;
}

.c-community .c-slider__content {
  position: relative;
}

.c-community .c-shikaoi__frame p {
  padding: 3px 28px 2px 28px;
}

.c-community .slick-dots {
  width: 560px !important;
}

.c-community .c-shikaoi__autoplay {
  width: 560px;
  float: left;
}

.p-workplace__body .l-main {
  padding: 83px 0 50px 0;
}

.p-workplace__body .c-title4 {
  padding: 10px 0 50px 0;
  font-family: "Times New Roman", Times, serif;
}

.p-workplace__body .p-workplace__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-workplace__body .p-workplace__imgtext {
  width: 270px;
  height: 340px;
  text-align: left;
  position: relative;
}

.p-workplace__body .c-shikaoi__frame {
  top: 15px;
  left: 15px;
  width: 122px;
  height: 28px;
}

.p-workplace__body .c-shikaoi__frame p {
  padding: 2px 16px;
}

.p-workplace__body .c-text__title {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 14px 0;
}

.p-workplace__body .c-text_content {
  font-size: 1.3rem;
  line-height: 1.5;
}

.p-member__body {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-member__body .l-main {
  padding: 58px 0 40px 0;
}

.p-member__body .c-title4 {
  padding: 10px 0 50px 0;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.p-member__body .p-member__title1 {
  font-size: 1.6rem;
  text-align: left;
}

.p-member__body .p-member__title2 {
  font-size: 2rem;
  text-align: left;
  font-weight: bold;
  padding: 12px 0 20px 0;
}

.p-member__body .c-slider__content {
  position: relative;
}

.p-member__body .c-shikaoi__frame p {
  padding: 3px 28px 2px 28px;
}

.p-member__body .slick-dots {
  width: 560px !important;
}

.p-member__body .c-slider__text p {
  padding-bottom: 0;
}

.p-member__body .c-shikaoi__autoplay {
  width: 560px;
  float: left;
}

.p-member__body .c-slider__content {
  padding-bottom: 60px;
}

.p-recruit__agric .l-main {
  padding: 58px 0 100px 0;
}

.p-recruit__agric .c-title4 {
  padding: 10px 0 50px 0;
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
}

.p-recruit__agric .p-recruit__title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.p-recruit__agric .p-recruit__text {
  font-size: 1.5rem;
  text-align: left;
  padding: 20px 0 28px 0;
  line-height: 1.6;
}

.p-recruit__agric .p-recruit__text:last-child {
  padding-bottom: 0;
}

.c-recruit__content {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
  text-align: left;
}

.c-recruit__content .l-main {
  padding: 0 0 100px 0;
}

.c-recruit__content .c-content__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.c-recruit__content .c-content__text {
  font-size: 1.5rem;
  line-height: 1.6;
  padding: 20px 0 30px 0;
}

.c-recruit__content .c-content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-recruit__content .c-content_button a {
  width: 100px;
  height: 22px;
  font-size: 1.3rem;
  margin-right: 15px;
  background-color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}

.c-recruit__content .c-content__imgtable {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-recruit__content .c-content__img {
  width: 560px;
  position: relative;
}

.c-recruit__content .c-content__img .c-shikaoi__frame {
  left: auto;
  right: 18px;
  top: 18px;
  width: 182px;
}

.c-recruit__content .c-content__table {
  width: 560px;
  height: 370px;
}

.c-recruit__content .c-table__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 39px;
  border-top: 1px solid #777777;
}

.c-recruit__content .c-table__body--style1 {
  height: 90px;
}

.c-recruit__content .c-table__body:last-child {
  border-bottom: 1px solid #777777;
}

.c-recruit__content .c-table__title {
  font-size: 1.3rem;
  font-weight: bold;
  width: 90px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eaf1eb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-recruit__content .c-table__text {
  font-size: 1.3rem;
  width: 470px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.c-recruit__content .c-content__thumbnails {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-recruit__content .c-thumbnail {
  position: relative;
  width: 270px;
  height: 200px;
}

.c-recruit__content .c-thumbnail img {
  width: 100%;
  height: 100%;
}

.c-recruit__content .c-thumbnail .c-shikaoi__frame {
  width: 184px;
  height: 28px;
  top: 10px;
  left: 14px;
}

.c-recruit__content .c-thumbnail .c-shikaoi__frame p {
  padding: 3px 17px 2px 17px;
}

.p-topics__content .l-main {
  padding: 65px 0 50px 0;
}

.p-topics__content .c-title4 {
  padding: 10px 0 100px 0;
}

.p-topics__content .c-shikaoi__autoplay {
  width: 560px;
  float: left;
}

.p-topics__content .c-slider__text {
  line-height: 1;
}

.p-topics__content .c-slider__text p {
  padding-bottom: 0;
}

.p-topics__content .c-text__title1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 24px;
  background-color: #51c571;
  color: #fff;
  font-size: 1.1rem;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-topics__content .c-text__title1--style1 {
  background-color: #f78d6c;
}

.p-topics__content .c-slider__content {
  padding-bottom: 50px;
}

.p-topics__content .c-text__title2 {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 30px 0 20px 0;
}

.p-topics__content .c-text__title3 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 20px;
}

.p-topics__content .c-text__content {
  font-size: 1.3rem;
  line-height: 1.6;
}

.p-topics__content .c-shikaoi__frame {
  width: 145px;
}

.p-topics__content .c-shikaoi__frame p {
  padding: 3px 10px 2px 10px;
}

.p-topics__content .p-topics__text {
  font-size: 1.3rem;
  text-align: left;
  line-height: 1.5;
  margin-top: -40px;
}

.p-brand__head .l-main {
  padding: 58px 0 100px 0;
}

.p-brand__head .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px 0 50px 0;
}

.p-brand__head .p-brand__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
  padding-bottom: 50px;
}

.p-brand__head .p-brand__menu a {
  width: 370px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #888888;
  font-weight: bold;
  font-size: 1.6rem;
  color: #ffffff;
}

.p-brand__head .p-brand__menu .is-current {
  background-color: #51c571;
}

.p-brand__head .p-brand__text {
  font-size: 1.5rem;
  text-align: left;
}

.p-brand__head .p-brand__text p {
  line-height: 1.6;
  padding: 15px 0 25px 0;
}

.p-brand__head .p-brand__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-brand__head .p-brand__title p {
  line-height: 1;
  padding: 0;
}

.p-brand__content .l-main {
  padding-bottom: 100px;
}

.p-brand__content .c-title4 {
  padding: 10px 0 50px 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
}

.p-brand__content .c-shikaoi__autoplay {
  width: 560px;
  float: right;
  margin-left: 40px;
}

.p-brand__content .c-shikaoi__frame {
  left: auto;
  right: 18px;
  top: 18px;
}

.p-brand__content .c-shikaoi__frame p {
  width: 138px;
  padding: 2px 0;
}

.p-brand__content .c-slider__content .c-slider__text {
  height: auto;
}

.p-brand__content .c-slider__content .c-slider__text .c-text__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.p-brand__content .c-slider__content .slick-dots {
  bottom: auto;
}

.p-recipe__header {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif;
}

.p-recipe__header .l-main {
  padding: 58px 0 40px 0;
}

.p-recipe__header .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px 0 50px 0;
}

.p-recipe__header .p-recipe__title1 {
  font-size: 1.6rem;
  color: #e2750c;
  text-align: left;
}

.p-recipe__header .p-recipe__title2 {
  font-size: 2rem;
  font-weight: bold;
  color: #e2750c;
  text-align: left;
  padding: 10px 0 20px 0;
}

.p-recipe__header .p-recipe__imgtable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-recipe__header .p-recipe__img {
  width: 510px;
  text-align: left;
}

.p-recipe__header .p-recipe__img img {
  width: 100%;
}

.p-recipe__header .p-recipe__img .c-img__point {
  width: 125px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #e2750c;
  margin: 15px 0 12px 0;
}

.p-recipe__header .p-recipe__img .c-img__text {
  font-size: 1.4rem;
  line-height: 1.5;
}

.p-recipe__header .p-recipe__table {
  width: 624px;
}

.p-recipe__header .p-recipe__table .c-title {
  font-weight: bold;
  background-color: #e6e6e6;
}

.p-recipe__header .p-recipe__table table {
  border-collapse: collapse;
}

.p-recipe__header .p-recipe__table td {
  border: 1px solid #d8d8d8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 7px;
  height: 30px;
  font-size: 1.4rem;
}

.p-recipe__header .p-recipe__table td:first-child {
  width: 253px;
}

.p-recipe__header .p-recipe__table td:nth-child(2) {
  width: 155px;
}

.p-recipe__header .p-recipe__table td:last-child {
  width: 216px;
}

.p-recipe__step .l-main {
  padding: 0 0 60px 0;
}

.p-recipe__step .c-step__title {
  background-color: #f6f0d5;
  padding: 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-recipe__step .c-step__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-recipe__step .c-step__content {
  width: 345px;
  height: 155px;
  text-align: left;
}

.p-recipe__step .c-step__content .c-step__name {
  color: #e2750c;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
}

.p-recipe__step .c-step__content .c-step__text {
  font-size: 1.4rem;
  line-height: 1.6;
}

.p-recipe__archive .l-main {
  padding-bottom: 77px;
}

.p-recipe__archive .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px 0 50px 0;
}

.p-recipe__archive .c-archive__title {
  background-color: #f6f0d5;
  padding: 15px 0;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.p-recipe__archive .c-archive__title--style1 {
  margin-top: 75px;
}

.p-recipe__archive .c-archive__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-recipe__archive .c-archive__imgtext {
  width: 220px;
  text-align: left;
  border: 1px solid #d5d5d5;
  margin-bottom: 23px;
}

.p-recipe__archive .c-archive__imgtext .c-archive__img {
  width: 220px;
}

.p-recipe__archive .c-archive__imgtext .c-archive__img img {
  width: 100%;
}

.p-recipe__archive .c-archive__imgtext .c-archive__text {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 12px 12px 15px 12px;
  line-height: 1.5;
}

.p-regular__content .l-main {
  padding: 58px 0 100px 0;
}

.p-regular__content .c-title4 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  padding: 10px 0 50px 0;
}

.p-regular__content .p-regular__table table {
  font-family: "Hiragino Kaku Gothic Pro", "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "メイリオ", "Meiryo", sans-serif !important;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  font-size: 1.6rem;
}

.p-regular__content .p-regular__table td {
  border: 1px solid #777777;
  padding: 28px 0 26px 30px;
}

.p-regular__content .p-regular__table .c-text__style {
  line-height: 1.6;
}

.p-regular__content .p-regular__table td:first-child {
  background-color: #e6e6e6;
  width: 235px;
  font-weight: bold;
  vertical-align: top;
}

.p-regular__content .p-regular__table td:last-child {
  width: 925px;
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
.pc-only {
  display: block;
}

@media (max-width: 768px) {
  .pc-only {
    display: none;
  }
}

.sp-only {
  display: none;
}

@media (max-width: 768px) {
  .sp-only {
    display: block;
  }
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

a:hover img, a:hover {
  opacity: .5;
}

a img, a {
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.slick-track {
  margin-left: 0 !important;
}

.slick-dots li button:before {
  color: #22963c !important;
  opacity: .3;
  content: url("../img/index/icon-slideshow.png") !important;
}

.slick-arrow {
  display: none !important;
}

.l-container {
  width: 1460px;
  margin: 0 auto;
}

.l-main {
  width: 1160px;
  margin: 0 auto;
}
