/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.menu {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
@media (max-width: 767px) {
  .menu{
    display: none;
    animation: 0.3s;
  }
}

.menu li a{
	color: rgba(255,255,255,.5);
	text-decoration: none;
	padding-right: .5rem;
  padding-left: .5rem;
}

.menu li:first-child a{
	color: #fff;
}
.menu li:first-child a:hover{
	color: #fff;
}

.menu li a:hover{
	color: rgba(255,255,255,.75);
}

.card-body ul{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
@media (max-width: 767px) {
  .card-body ul{
    display: block;
  }
}

.card-body .col-lg-6{
	display: flex;
	flex: 1;
	max-width: 100%;
}
.card-body .row ul li{
	width: 50%;
}

.pagination .page-item a{
  padding: .5rem .75rem;
  border: 1px solid #dee2e6;
  text-decoration: none;
}

.pagination .page-item a:hover{
    color: #0056b3;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

#comment-area .rounded-circle img{
	border-radius: 50%!important;
}

#comment-area .media-body ul{
	list-style-type: none;
	padding-left: 0;
}

#comment-area .media-body li ul{
	padding-left: 30px;
}

#comment-area .media-body ul li .comment-body .comment-author span{
	display: none;
}

#comment-area .media-body ul li .comment-body .comment-author {
	font-weight: 	bold;
	font-size: 1.25rem;
	margin-bottom: .5rem;
	font-family: inherit;
	color: inherit;
}

#comment-area .comment-body .comment-author cite {
	font-style: normal;
}

#comment-area .media-body ul li .comment-body .comment-meta{
	display: none;
}

.comment-respond form .logged-in-as{
	display: none;
}

.comment-respond {
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: flex;
  position: relative;
  margin: 1.5rem 0;
}

.comment-respond h3 {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  font-size: 1.25rem;
}

.comment-respond .comment-form-comment textarea{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 80px;
}

.comment-respond .comment-form-comment label{
    display: none;
}

.comment-respond .comment-form-comment{
  padding: 1.25rem;
  margin-bottom: 0;
}

.form-submit input{
	color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border: none;
  margin-left: 1.25rem;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s;
  cursor: pointer;
}

.form-submit input:hover{
	color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.rounded-circle .comment-author img{
  width: 50px;
  height: 50px;
}
.comment-author{
  margin-bottom: 0 !important;
}

.comment-body p{
  padding-left: 55px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

.card p img{
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .col-lg-8 p iframe{
    width: 100%;
    height: auto;
  }
}

.fb-page{
  width: 100%;
}
.fb-page span{
  width: 100% !important;
}
.fb-page span iframe{
  width: 100% !important;
}

@media (max-width: 767px) {
  .container .row .col-lg-8 .alignnone{
    width: 100%;
    height: auto;
  }
}


@media (max-width: 767px) {
  .col-lg-8 p img{
    width: 100%;
    height: auto;
  }
}

.col-lg-8 .card-img-top img{
  width: 100%;
  height: 300px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
@media (max-width: 767px) {
  .col-lg-8 .card-img-top img{
    height: auto;
  }
}

.card .card-img-top img{
  width: 100%;
  height: 300px;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
@media (max-width: 767px) {
  .card .card-img-top img{
    height: auto;
  }
}